<div style="width: 100%;background: #005ec4">
  <p
    style="padding: 7px;color: white;position: relative;right: -600px;font-family: Chakra Petch;font-size: 20px;font-weight: bold">
    Hotline : (+84) 3333.000.29 • Email: mainvov@gmail.com</p>
</div>
<div style="width: 100%;margin-top: -20px">
  <img routerLink="/" src="https://upload.wikimedia.org/wikipedia/commons/1/1e/RPC-JP_Logo.png"
       style="width: 90px;height: 90px;margin-left: 50px;display: inline;cursor: pointer">
  <div style="display: inline;width: 400px;margin-left: 200px">
    <div style="padding: 10px;border: 1px solid #005ec4;display: inline">
      <input class="input form-control " style="display: inline;width: 300px;border: 0 solid white"
             placeholder="Nhập sản phẩm cần phải tìm ..."><span style="color:#005ec4 ">|</span>
      <select class="form-select text-center" style="display: inline;width:300px;border: 0 solid;cursor: pointer">
        <option class="select-item" selected>Tất cả danh mục</option>
        <option class="select-item">Laptop</option>
        <option class="select-item">PC Gaming</option>
        <option class="select-item">Chuột</option>
        <option class="select-item">Bàn phím</option>
      </select>
      <span class="button-search" >      <i style="color: white" class="fa-solid fa-magnifying-glass"></i>
      </span>
    </div>
  </div>
  <div routerLink="/cart" style="display: inline;width: 400px;margin-left: 200px;font-size: 30px;color: #005ec4"
       class="btn btn-outline-dark">
    <i class="fa-solid fa-cart-shopping"></i>
  </div>
</div>
<div style="width: 100%;background: #eef0f7;font-family: Chakra Petch;font-size: 20px;font-weight: bold">
  <div style="padding: 10px">
    <a style="margin-left: 20px;text-decoration: none;color: black" class="dropdown"><span style="cursor: pointer"><i
      class="fa-sharp fa-solid fa-laptop"></i> DANH MỤC SẢN PHẨM</span>
      <div class="dropdown-content">
        <p class="category-item">Laptop</p>
        <p class="category-item">PC Gaming</p>
        <p class="category-item">Bàn Phím</p>
        <p class="category-item">Chuột</p>
        <p class="category-item">Ghế</p>
      </div>
    </a>
    <a routerLink="/login" style="margin-left: 50px;cursor: pointer;text-decoration: none;color: #29324e"><i class="fa-sharp fa-solid fa-user"></i> ĐĂNG NHẬP</a>
    <a style="margin-left: 50px;cursor: pointer"><i class="fa-solid fa-newspaper"></i> TIN TỨC</a>
    <span style="font-weight: bold;position: absolute;right: 50px;top:133px;font-size: 30px">
      <i class="fa-brands fa-facebook-f icon-margin"></i>
    <i class="fa-brands fa-youtube icon-margin"></i>
    <i class="fa-brands fa-instagram icon-margin"></i>
    <i class="fa-solid fa-store icon-margin"></i>
    </span>
  </div>
</div>
