@font-face {
  font-family: 'Chakra Petch';
  src: url('fonts/ChakraPetch-SemiBold.ttf') format('truetype');
}
.text {

  font-family: Chakra Petch;
  color: #29324e;
}

.container {
  width: 1100px;
  margin: 10px;
}
