<footer class="footer-distributed" style="clear: both">

  <div class="footer-left">

    <h3 class="text"><p style="display: inline" class="text">Cuong</p><span class="text">Computer</span></h3>

    <p class="footer-links text" >
      <a href="#" class="link-1 text" style="color:  lightseagreen;">Trang Chủ</a>

      <a href="#" style="margin-left: 10px">Laptop</a>

      <a href="#" style="margin-left: 10px">PC Gaming</a>

      <a href="#" style="margin-left: 10px">Chuột</a>

      <a href="#" style="margin-left: 10px">Bàn Phím</a>

      <a href="#" style="margin-left: 10px">Ghế</a>
    </p>

    <p  style=" color:  lightseagreen;" class="text">CuongVV company © 2015</p>
  </div>

  <div class="footer-center">


    <div>
      <i class="fa-sharp fa-regular fa-address-card"></i>
      <p class="text"><span>65 An Nhơn 8</span> An Hải Bắc, Sơn Trà, Đà Nẵng</p>
    </div>

    <div>
      <i class="fa fa-phone" aria-hidden="true"></i>
      <p class="text">(+84).3333.000.29</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p class="text"><a href="mailto:support@company.com">mainvov@gmail.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about text">
      <span style=" color:  lightseagreen;">Cuong Computer - Địa chỉ sắm PC/Laptop uy tín hàng đầu Việt Nam!</span>
      Cuong Computer tự hào với tôn chỉ luôn lấy khách hàng làm trọng tâm.
    </p>



  </div>

</footer>
