<div class="side-banner banner-left row d-flex"
     style="width: 94.5px;float: left;position: sticky;top:5px;margin-bottom: 285px"><a
  href="https://www.tncstore.vn/laptop-acer-predator-helios-16-ph16-71-94n1-nh-qjssv-002-i9-13900hx-32gb-2tb-rtx-4080-12gb-16-inch-wqxga-win-11"><img
  src="https://i.imgur.com/uSTAVih.png" alt="Laptop Gaming 2023"></a></div>

<div class="container row " style="margin: 10px;display: inline-block;float: left">
  <div style="margin: 10px 20px 10px 20px">
    <div class="d-flex" style="font-size: 20px">
      <i style="line-height: 1.6;cursor: pointer" (click)="goHome()" routerLink="/body"  class="fa-sharp fa-solid fa-house colors"></i>
      <i style="line-height: 1.6;margin-left: 30px" class="fa-sharp fa-solid fa-chevron-right"></i>
      <h4  class="text" style="margin-left: 30px;cursor: pointer" (click)="goHome()" routerLink="/body">Trang chủ</h4>
      <i style="line-height: 1.6;margin-left: 30px" class="fa-sharp fa-solid fa-chevron-right"></i>
      <h4 class="text" style="margin-left: 30px">Bàn phím</h4>
    </div>
    <div class="d-flex row" style="font-size: 20px;margin-top: -20px;margin-left: -30px">
      <div style="margin: 20px">
        <div class="card" style="width: 14rem;display: inline-block;margin-left: 20px">
          <img class="card-img-top" style="height: 222px;width: 222px;object-fit: cover"
               src="https://laptopaz.vn/media/lib/2354_DSC08066.jpg"
               alt="Card image cap">
          <div class="card-body">
            <span style="font-weight: bold;font-size: 15px">Asus FX507ZC-HN124W</span>
            <p style="position: relative" class="text-danger">2.200.000 đ <span style="position: absolute;right: 1px;bottom:3px;font-size: 13px;color: #92999f;text-decoration: line-through">3.200.000 đ</span></p>

            <button class="btn btn-primary d-flex justify-content-center" style="color: white;margin-left: 33px">Thêm vào giỏ</button>
          </div>
        </div>
        <div class="card" style="width: 14rem;display: inline-block;margin-left: 35px">
          <img class="card-img-top" style="height: 222px;width: 222px;object-fit: cover"
               src="https://file.hstatic.net/1000233206/article/acer-nitro-5-2020-cho-tot_0969ce5a2527449db622006cf0ecf325.jpg"
               alt="Card image cap">

          <div class="card-body">
            <span style="font-weight: bold;font-size: 15px">Acer Gaming Nitro 5</span>
            <p style="position: relative" class="text-danger">2.200.000 đ <span style="position: absolute;right: 1px;bottom:3px;font-size: 13px;color: #92999f;text-decoration: line-through">3.200.000 đ</span></p>

            <button class="btn btn-primary d-flex justify-content-center" style="color: white;margin-left: 33px">Thêm vào giỏ</button>
          </div>
        </div>
        <div class="card" style="width: 14rem;display: inline-block;margin-left: 35px">
          <img class="card-img-top" style="height: 222px;width: 222px"
               src="https://storage.googleapis.com/cdn.tanphatad.com/tanphatad/2020/12/bo-may-pc-gaming-khung-h410-i3-10100f-ram-16g-ssd-m2-128gb-vga-1070-8gg-case-zeus-5fe933e307bf2.jpg"
               alt="Card image cap">
          <div class="card-body">
            <span style="font-weight: bold;font-size: 15px">PC GAMING KHỦNG H410</span>
            <p style="position: relative" class="text-danger">2.200.000 đ <span style="position: absolute;right: 1px;bottom:3px;font-size: 13px;color: #92999f;text-decoration: line-through">3.200.000 đ</span></p>

            <button class="btn btn-primary d-flex justify-content-center" style="color: white;margin-left: 33px">Thêm vào giỏ</button>
          </div>
        </div>
        <div class="card" style="width: 14rem;display: inline-block;margin-left: 35px">
          <img class="card-img-top" style="height: 222px;width: 222px"
               src="https://cf.shopee.vn/file/2d7be0212d27e8ad73bcd2e6ef2ffbb9"
               alt="Card image cap">

          <div class="card-body">
            <span style="font-weight: bold;font-size: 15px">Logitech G502 HERO</span>
            <p style="position: relative" class="text-danger">2.200.000 đ <span style="position: absolute;right: 1px;bottom:3px;font-size: 13px;color: #92999f;text-decoration: line-through">3.200.000 đ</span></p>

            <button class="btn btn-primary d-flex justify-content-center" style="color: white;margin-left: 33px">Thêm vào giỏ</button>
          </div>
        </div> <br>
        <div class="card" style="width: 14rem;display: inline-block;margin-left: 20px;margin-top: 20px">
          <img class="card-img-top" style="height: 222px;width: 222px;object-fit: cover"
               src="https://m.maihoang.com.vn/thumb/crop/10682"
               alt="Card image cap">
          <div class="card-body">
            <span style="font-weight: bold;font-size: 15px">AKKO 3108 Dragon Ball Z</span>
            <p style="position: relative" class="text-danger">2.200.000 đ <span style="position: absolute;right: 1px;bottom:3px;font-size: 13px;color: #92999f;text-decoration: line-through">3.200.000 đ</span></p>

            <button class="btn btn-primary d-flex justify-content-center" style="color: white;margin-left: 33px">Thêm vào giỏ</button>
          </div>
        </div>
        <div class="card" style="width: 14rem;display: inline-block;margin-left: 35px">
          <img class="card-img-top" style="height: 222px;width: 222px;object-fit: cover"
               src="https://bizweb.dktcdn.net/100/192/179/products/ghe-chaoming.jpg?v=1562924284487"
               alt="Card image cap">

          <div class="card-body">
            <span style="font-weight: bold;font-size: 15px">Ghế CyberGame</span>
            <p style="position: relative" class="text-danger">2.200.000 đ <span style="position: absolute;right: 1px;bottom:3px;font-size: 13px;color: #92999f;text-decoration: line-through">3.200.000 đ</span></p>

            <button class="btn btn-primary d-flex justify-content-center" style="color: white;margin-left: 33px">Thêm vào giỏ</button>
          </div>
        </div>
        <div class="card" style="width: 14rem;display: inline-block;margin-left: 35px">
          <img class="card-img-top" style="height: 222px;width: 222px"
               src="https://kccshop.vn/media/product/75-1168-14653a3971efc6560920a2ffd8cc4746.png"
               alt="Card image cap">

          <div class="card-body">
            <span style="font-weight: bold;font-size: 15px">Dell Alienware AW2518H</span>
            <p style="position: relative" class="text-danger">2.200.000 đ <span style="position: absolute;right: 1px;bottom:3px;font-size: 13px;color: #92999f;text-decoration: line-through">3.200.000 đ</span></p>

            <button class="btn btn-primary d-flex justify-content-center" style="color: white;margin-left: 33px">Thêm vào giỏ</button>
          </div>
        </div>
        <div class="card" style="width: 14rem;display: inline-block;margin-left: 35px">
          <img class="card-img-top" style="height: 222px;width: 222px"
               src="https://pcmarket.vn/media/product/10139_1.jpg"
               alt="Card image cap">
          <div class="card-body">
            <span style="font-weight: bold;font-size: 15px">PC GAMING ON DEMAND</span>
            <p style="position: relative" class="text-danger">2.200.000 đ <span style="position: absolute;right: 1px;bottom:3px;font-size: 13px;color: #92999f;text-decoration: line-through">3.200.000 đ</span></p>

            <button class="btn btn-primary d-flex justify-content-center" style="color: white;margin-left: 33px">Thêm vào giỏ</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<div class="side-banner banner-right row "
     style="width: 94.5px;float:left;position: sticky;right: 10px;top:5px;margin-bottom: 285px"><a
  href="https://www.tncstore.vn/gaming-laptop.html" alt="Helios 16 - 2023"><img
  src="https://i.imgur.com/qAXtaSp.png" alt="Helios 16 - 2023"></a></div>
