<div class="side-banner banner-left row d-flex"
     style="width: 94.5px;float: left;position: sticky;top:5px;margin-bottom: 285px"><a
  href="https://www.tncstore.vn/laptop-acer-predator-helios-16-ph16-71-94n1-nh-qjssv-002-i9-13900hx-32gb-2tb-rtx-4080-12gb-16-inch-wqxga-win-11"><img
  src="https://i.imgur.com/uSTAVih.png" alt="Laptop Gaming 2023"></a></div>
<div class="containerz row " style="margin: 0 0 0 20px;display: inline-block;float: left">
  <section class="backgroundz" style="height: 1000px;margin-left: 30px;width: 1069px">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img
                  src="https://i.imgur.com/zbtR9qs.png"
                  alt="login form"
                   style="border-radius: 1rem 0 0 1rem;height: 700px;width: 380px;object-fit: cover"
                />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">

                  <form style="margin-left: 20px" [formGroup]="form" (ngSubmit)="login()">

                    <div class="d-flex align-items-center mb-3 pb-1">
                      <img style="width: 70px;height: 70px" src="https://upload.wikimedia.org/wikipedia/commons/1/1e/RPC-JP_Logo.png">
                      <img style="width: 300px;height: 100px;margin-left: -10px" src="https://i.imgur.com/lzXIvD1.png">
<!--                      <span class="h3 fw-bold mb-0">CUONG COMPUTER</span>-->
                    </div>

                    <h5 class="fw-normal h2 mb-3 pb-3" style="letter-spacing: 1px;"><span class="text">HỆ THỐNG GEAR HÀNG ĐẦU VIỆT NAM</span>
                      <i style="margin-left: 10px"  class="fa-solid fa-laptop"></i>
                    </h5>

                    <div class="form-outline mb-4">
                      <input type="text" id="form2Example17" (keyup.enter)="login()" formControlName="username" class="form-control form-control-lg text" />
                      <label class="form-label h5 " for="form2Example17"><i class="fa-solid fa-user"></i><span class="text" style="margin-left: 10px">Tên đăng nhập</span> </label>
                    </div>

                    <div class="form-outline mb-4" style="margin-top: -15px">
                      <input type="password" (keyup.enter)="login()" formControlName="password" id="form2Example27" class="form-control form-control-lg" />
                      <label class="form-label h5 text" for="form2Example27"><i class="fa-solid fa-lock"></i><span class="text" style="margin-left: 10px">Mật khẩu</span></label>
                    </div>
                     <h4 class="text-danger text">{{message}}</h4>
                    <div class="pt-1 mb-4" >
                      <button  class="btn btn-primary btn-lg btn-block " style="color: white;border-radius: 0;background: #005ec4;width: 200px" type="submit"><span class="text" style="color: white">ĐĂNG NHẬP</span><i style="color: white;margin-left: 10px"  class="fa-sharp fa-solid fa-circle-check"></i> </button>
                    </div>
                     <input type="checkbox" formControlName="rememberMe" class="form-check-input">
                    <a class="small text-muted text" style="margin-left: 10px">Ghi nhớ đăng nhập ?</a> <br>
                   <div class="text" style="margin-top: 60px;margin-bottom: -50px;font-size: 20px">
                     <a  style="color: #005ec4;" class="small ">CuongVV</a>
                     <a  style="color: #005ec4;" class="small "> - C0822G1</a>
                   </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="side-banner banner-right row "
     style="width: 94.5px;float:left;position: sticky;right: 10px;top:5px;margin-bottom: 285px"><a
  href="https://www.tncstore.vn/gaming-laptop.html" alt="Helios 16 - 2023"><img
  src="https://i.imgur.com/qAXtaSp.png" alt="Helios 16 - 2023"></a></div>
