<div class="side-banner banner-left row d-flex"
     style="width: 94.5px;float: left;position: sticky;top:27px;margin-bottom: 285px"><a><img
  src="https://i.imgur.com/uSTAVih.png" alt="Laptop Gaming 2023"></a></div>
<div class="container row " style="margin: 10px;display: inline-block;float: left">
  <img style="margin-left: 25px;height: 100px;object-fit: cover"
       src="https://media1.giphy.com/media/NKEt9elQ5cR68/giphy.gif">

  <div style="margin-top: 30px;margin-left: 25px">
    <h2 style="width: 100%;background: #92999f;height: 15px"><p
      style="background: white;margin: auto;width: 400px;line-height: 10px;padding-bottom: 10px"
      class="text text-center">{{nameTitle}}</p></h2>
    <form [formGroup]="formMouse" style="margin-top: 30px;border-bottom: 5px solid #005ec4;" (ngSubmit)="createMouse()">
      <div class="d-flex row">
        <div class="col-lg-8">
          <div  class="d-flex row text" style="margin: -5px 0 -5px 1px">
            <div  [class.error]="errorMouse.name == true" [class.input-field]="errorMouse.name == false" class=" col-lg-6" style="width: 320px;">
              <input   type="text" [placeholder]="errorMessageMouse.name" formControlName="name" required spellcheck="false">
              <label  >Tên của chuột</label>
            </div>
            <div [class.error]="errorMouse.dpi == true" [class.input-field]="errorMouse.dpi == false" class=" col-lg-6" style="width: 320px;margin-left: 35px">
              <input  type="text" required [placeholder]="errorMessageMouse.dpi" formControlName="dpi" spellcheck="false">
              <label>Độ phân giải</label>
            </div>
            <div [class.error]="errorMouse.oldPrice == true"  [class.input-field]="errorMouse.oldPrice == false" class=" col-lg-6" style="width: 320px">
              <input type="number" [placeholder]="errorMessageMouse.oldPrice" formControlName="oldPrice" required spellcheck="false">
              <label>Giá cũ</label>
            </div>
            <div [class.error]="errorMouse.price == true" [class.input-field]="errorMouse.price == false" class=" col-lg-6" style="width: 320px;margin-left: 35px">
              <input type="number" required  [placeholder]="errorMessageMouse.price" formControlName="price" spellcheck="false">
              <label>Giá mới</label>
            </div>



            <div [class.error]="errorMouse.sensor == true" [class.input-field]="errorMouse.sensor == false" class=" col-lg-6" style="width: 320px">
              <input type="text" [placeholder]="errorMessageMouse.sensor" formControlName="sensor" required spellcheck="false">
              <label>Cảm biến</label>
            </div>
            <div [class.error]="errorMouse.compatible == true" [class.input-field]="errorMouse.compatible == false" class=" col-lg-6" style="width: 320px;margin-left: 35px">
              <input type="text" [placeholder]="errorMessageMouse.compatible" formControlName="compatible" required  spellcheck="false">
              <label>Tính năng</label>
            </div>


            <div [class.error]="errorMouse.weight == true" [class.input-field]="errorMouse.weight == false"  class=" col-lg-6" style="width: 320px">
              <input type="text" [placeholder]="errorMessageMouse.weight" formControlName="weight" required spellcheck="false">
              <label>Trọng lượng</label>
            </div>
            <div [class.error]="errorMouse.reliability == true" [class.input-field]="errorMouse.reliability == false" class=" col-lg-6" style="width: 320px;margin-left: 35px">
              <input type="text" [placeholder]="errorMessageMouse.reliability" formControlName="reliability" required  spellcheck="false">
              <label>Nổi bật</label>
            </div>
            <div [class.error]="errorMouse.connect == true" [class.input-field]="errorMouse.connect == false" class=" col-lg-6" style="width: 320px">
              <input type="text" [placeholder]="errorMessageMouse.connect"  formControlName="connect" required spellcheck="false">
              <label>Cổng kết nối</label>
            </div>


            <div [class.error]="errorMouse.os == true" [class.input-field]="errorMouse.os == false" class=" col-lg-6" style="width: 320px;margin-left: 35px">
              <input type="text" [placeholder]="errorMessageMouse.os" formControlName="os" required  spellcheck="false">
              <label>Hệ điều hành hỗ trợ</label>
            </div>
            <div  class=" col-lg-6" style="width: 150px;border: 0;margin-left: -10px">
              <select [compareWith]="compareFun" formControlName="localBrand" class="form-select text" style="width: 150px;display: inline;border: 2px solid #005ec4;margin-top: 0">
                <option  *ngFor="let x of brand" [ngValue]="x">{{x.name}}</option>
              </select>

            </div>
          </div>
        </div>
        <div class="col-lg-3" style="margin-left: 10px;border-left: 5px solid #005ec4 ;height: 320px">
          <label class="hoverable"  for="fileInput" style="position: relative">
            <img [class.errorImage]="errorMouse.image == true" [class.loading]="isLoading==true" class="img" src="{{fb}}">
            <!--            <div (change)="showPreview($event)" class="hover-text">Choose file</div>-->
            <input id="fileInput" type='file'  class="hover-text" (change)="showPreview($event)">
            <div class="hover-text"  ><i style="margin-bottom: 50px;font-size: 100px" class="fa-sharp fa-solid fa-image"></i></div>
            <div class="hover-text text" style="margin-top: 50px">Chọn Ảnh</div>
            <div [class.loader]="isLoading" style="z-index: 999" *ngIf="isLoading ==true" class="spinner">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
              <div class="rect6"></div>
              <div class="rect7"></div>
              <div class="rect8"></div>
            </div>
            <div  class="background"></div>
          </label>
          <br/>
          <!--          <input id="fileInput" type='file' (change)="showPreview($event)">-->
        </div>

      </div>
      <button style="margin: -60px 0 0 300px " class="btn btn-primary font" type="submit">Xác nhận</button>
    </form>
  </div>
  <img style="margin-left: 25px;height: 340px;object-fit: cover"
       src="https://cdn.shopify.com/s/files/1/0521/6075/7938/files/2_8a035113-9a90-4f57-b5e9-d65b530e8392.jpg?v=1654841241">

</div>

<div class="side-banner banner-right row "
     style="width: 94.5px;float:left;position: sticky;right: 10px;top:27px;margin-bottom: 285px"><a
  alt="Helios 16 - 2023"><img
  src="https://i.imgur.com/qAXtaSp.png" alt="Helios 16 - 2023"></a></div>


