@font-face {
  font-family: 'Chakra Petch';
  src: url('fonts/ChakraPetch-SemiBold.ttf') format('truetype');
}

.text {
  font-family: Chakra Petch;
  color: #3a5876;
}
.card:hover {
  cursor: pointer;
  border: 1px solid #005ec4;
  -webkit-transform:scale(1.2);
  -moz-transform:scale(1.2);
  -ms-transform:scale(1.2);
  -o-transform:scale(1.2);
  transform:scale(1.2);
  z-index: 30;

}
.newText2 {
  font-family: Chakra Petch;
  color: #29324e;
}
.card {
  transition:.5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.item-cart {
  background: #005ec4;
  color: white;
  width: 200px;
  padding: 7px 15px 7px 15px;
  margin-left: 20px;
  border-left: 1px solid transparent;
}

.container {
  width: 1100px;
  margin: 10px;
}
