<div class="side-banner banner-left row d-flex"
     style="width: 94.5px;float: left;position: sticky;top:5px;margin-bottom: 285px"><a
  href="https://www.tncstore.vn/laptop-acer-predator-helios-16-ph16-71-94n1-nh-qjssv-002-i9-13900hx-32gb-2tb-rtx-4080-12gb-16-inch-wqxga-win-11"><img
  src="https://i.imgur.com/uSTAVih.png" alt="Laptop Gaming 2023"></a></div>
<div class="container row " style="margin: 10px;display: inline-block;float: left">
  <div style="margin: 10px 20px 10px 20px">
    <div class="d-flex row" style="font-size: 20px;margin-top: 20px">
      <div class="col-lg-8">
        <div style="width: 100%;position: relative;font-size: 18px">
          <div class="d-flex row">
            <p class="text item-cart text-center">1. Chọn sản phẩm</p>
            <p class="text item-cart text-center" style="width: 230px">2. Xác nhận đơn hàng</p>
            <p class="text item-cart text-center">3. Thanh toán</p>
          </div>
          <h4 class="text">THÔNG TIN SẢN PHẨM</h4>
          <div class="d-flex row">
            <div style="border: 1px solid #005ec4;width: 690px;margin-top: 10px;margin-left: 10px">

              <div style="width: 100px;display: inline-block;margin-bottom: 10px;margin-top: -5px">
                <img
                  src="https://storage.googleapis.com/cdn.tanphatad.com/tanphatad/2020/12/bo-may-pc-gaming-khung-h410-i3-10100f-ram-16g-ssd-m2-128gb-vga-1070-8gg-case-zeus-5fe933e307bf2.jpg"
                  style="height: 90px;width: 90px;object-fit: cover;margin-top: -20px">
              </div>
              <div style="width: 530px;display: inline-block;position: relative;;margin-left: 20px">
                <h4 style="color: #005ec4;margin-top: 10px" class="text">PC Gaming - Alpha A3 - BL</h4>
                <span>Số lượng</span> <button  style="border: 0 solid white;height: 30px;width: 30px;margin-left: 10px"> - </button> <span style="color: #005ec4;margin-left: 10px">1</span> <button style="border: 0 solid white;height: 30px;width: 30px;margin-left: 10px"> + </button>
                <span class="text" style="position: absolute;right: 10px;top: 20px" >5.490.000 đ</span>
                <button style="position: absolute;right: 10px;top: 50px;border: 2px solid;border-radius: 0" class="btn btn-outline-primary"><i class="fa-sharp fa-solid fa-trash" style="margin-right: 10px"></i> <span class="text" style="margin-left: 10px">XÓA</span></button>
              </div>
            </div>
            <div style="border: 1px solid #005ec4;width: 690px;margin-top: 10px;margin-left: 10px">
              <div style="width: 100px;display: inline-block;margin-bottom: 10px;margin-top: -5px">
                <img
                  src="https://bizweb.dktcdn.net/100/192/179/products/ghe-chaoming.jpg?v=1562924284487"
                  style="height: 90px;width: 90px;object-fit: cover;margin-top: -20px">
              </div>
              <div style="width: 530px;display: inline-block;position: relative;;margin-left: 20px">
                <h4 style="color: #005ec4;margin-top: 10px" class="text">Ghế CyberGame</h4>
                <span>Số lượng</span> <button  style="border: 0 solid white;height: 30px;width: 30px;margin-left: 10px"> - </button> <span style="color: #005ec4;margin-left: 10px">1</span> <button style="border: 0 solid white;height: 30px;width: 30px;margin-left: 10px"> + </button>
                <span class="text" style="position: absolute;right: 10px;top: 20px" >3.000.000 đ</span>
                <button style="position: absolute;right: 10px;top: 50px;border: 2px solid;border-radius: 0" class="btn btn-outline-primary"><i class="fa-sharp fa-solid fa-trash" style="margin-right: 10px"></i> <span class="text" style="margin-left: 10px">XÓA</span></button>
              </div>
            </div>
            <div style="border: 1px solid #005ec4;width: 690px;margin-top: 10px;margin-left: 10px">
              <div style="width: 100px;display: inline-block;margin-bottom: 10px;margin-top: -5px">
                <img
                  src="https://kccshop.vn/media/product/75-1168-14653a3971efc6560920a2ffd8cc4746.png"
                  style="height: 90px;width: 90px;object-fit: cover;margin-top: -20px">
              </div>
              <div style="width: 530px;display: inline-block;position: relative;;margin-left: 20px">
                <h4 style="color: #005ec4;margin-top: 10px" class="text">Dell Alienware AW2518H</h4>
                <span>Số lượng</span> <button  style="border: 0 solid white;height: 30px;width: 30px;margin-left: 10px"> - </button> <span style="color: #005ec4;margin-left: 10px">1</span> <button style="border: 0 solid white;height: 30px;width: 30px;margin-left: 10px"> + </button>
                <span class="text" style="position: absolute;right: 10px;top: 20px" >2.100.000 đ</span>
                <button style="position: absolute;right: 10px;top: 50px;border: 2px solid;border-radius: 0" class="btn btn-outline-primary"><i class="fa-sharp fa-solid fa-trash" style="margin-right: 10px"></i> <span class="text" style="margin-left: 10px">XÓA</span> </button>
              </div>
            </div>
          </div>
        </div>
          <button routerLink="/" style="margin-top: 20px;border-radius: 0;background: #005ec4" class="btn btn-primary "><i class="fa-solid fa-rotate-left"></i> <span class="text" style="margin-left: 10px">QUAY LẠI TRANG CHỦ</span></button>
      </div>
      <div class="col-lg-4">
        <div style="background: #f0f3fc;width: 100%;position: relative">
          <div style="padding: 20px" class="text">
            <h4>THÔNG TIN GIỎ HÀNG</h4>
            <p>Số lượng sản phẩm <span style="color: #005ec4;position: absolute;right: 20px">3</span></p>
            <p style="margin-top: -15px">Tổng chi phí <span style="color: red;position: absolute;right: 20px">10.590.000 đ</span>
            </p>
            <p style="color: #92999f;position: absolute;right: 20px;margin-top: -13px;font-size: 13px">Đã bao gồm VAT
              (nếu có)</p>
            <button style="width: 100%;border-radius: 0;margin-top: 20px" class="btn btn-primary">XÁC NHẬN ĐƠN HÀNG
            </button>
            <button style="width: 100%;border-radius: 0;margin-top: 20px" class="btn btn-danger">XÓA GIỎ HÀNG</button>
            <button style="width: 100%;border-radius: 0;margin-top: 20px" class="btn btn-outline-primary">XEM SẢN PHẨM
              KHÁC
            </button>
          </div>
        </div>
        <div style="width: 100%;position: relative;font-size: 14px">
          <div style="padding: 20px">
            <p><i style="color: forestgreen" class="fa-sharp fa-solid fa-circle-check"></i> <span class="text"
                                                                                                  style="margin-left: 5px"> Hỗ trợ trả góp 0%, trả trước 0đ</span>
            </p>
            <p style="margin-top: -10px"><i style="color: forestgreen" class="fa-sharp fa-solid fa-circle-check"></i>
              <span class="text" style="margin-left: 5px"> Hoàn tiền 200% khi phát hiện hàng giả</span></p>
            <p style="margin-top: -10px"><i style="color: forestgreen" class="fa-sharp fa-solid fa-circle-check"></i>
              <span class="text" style="margin-left: 5px"> Giao hàng nhanh 3H nội thành Hà Nội</span></p>
            <p style="margin-top: -10px"><i style="color: forestgreen" class="fa-sharp fa-solid fa-circle-check"></i>
              <span class="text" style="margin-left: 5px"> Giao hàng từ 5 - 7 ngày toàn quốc</span></p>
            <p style="margin-top: -10px"><i style="color: forestgreen" class="fa-sharp fa-solid fa-circle-check"></i>
              <span class="text" style="margin-left: 5px"> Đội ngũ kĩ thuật hỗ trợ online 7/7</span></p>
          </div>
          <div style="width: 100%;margin-top: -30px;margin-left: 15px">
            <a href=""><img src="https://www.tncstore.vn/catalog/view/theme/default/image/tien-mat.png" alt=""></a>
            <a href=""><img src="https://www.tncstore.vn/catalog/view/theme/default/image/internet-bank.png" alt=""></a>
            <a href=""><img src="https://www.tncstore.vn/catalog/view/theme/default/image/mastercard.png" alt=""></a>
            <a href=""><img src="https://www.tncstore.vn/catalog/view/theme/default/image/visa.png" alt=""></a>
          </div>
        </div>

      </div>


    </div>
    <h3 style="width: 100%;background: #92999f;height: 10px;margin-top: 30px"><h3 class="text-center text"
                                                                                  style="margin: 30px 30px 30px 330px;padding-bottom: 10px;line-height: 8px;background: white;width: 380px;color: #29324e; ">
      SẢN PHẨM ĐANG HOT</h3></h3>
    <div style="margin: 20px">

      <div class="card" style="width: 14rem;display: inline-block;">
        <img class="card-img-top" style="height: 222px;width: 222px;object-fit: cover"
             src="https://laptopaz.vn/media/lib/2354_DSC08066.jpg"
             alt="Card image cap">
        <div class="card-body">
          <span style="font-weight: bold;font-size: 15px">Asus FX507ZC-HN124W</span>
          <button class="btn btn-primary" style="color: white">Thêm vào giỏ</button>
        </div>
      </div>
      <div class="card" style="width: 14rem;display: inline-block;margin-left: 30px">
        <img class="card-img-top" style="height: 222px;width: 222px;object-fit: cover"
             src="https://file.hstatic.net/1000233206/article/acer-nitro-5-2020-cho-tot_0969ce5a2527449db622006cf0ecf325.jpg"
             alt="Card image cap">
        <div class="card-body">
          <span style="font-weight: bold;font-size: 15px">Acer Gaming Nitro 5 </span>
          <button class="btn btn-primary" style="color: white">Thêm vào giỏ</button>
        </div>
      </div>
      <div class="card" style="width: 14rem;display: inline-block;margin-left: 30px">
        <img routerLink="/product" class="card-img-top" style="height: 222px;width: 222px"
             src="https://storage.googleapis.com/cdn.tanphatad.com/tanphatad/2020/12/bo-may-pc-gaming-khung-h410-i3-10100f-ram-16g-ssd-m2-128gb-vga-1070-8gg-case-zeus-5fe933e307bf2.jpg"
             alt="Card image cap">
        <div class="card-body">
          <span style="font-weight: bold;font-size: 15px">PC GAMING KHỦNG H410</span>
          <button class="btn btn-primary" style="color: white">Thêm vào giỏ</button>
        </div>
      </div>
      <div class="card" style="width: 14rem;display: inline-block;margin-left: 30px">
        <img class="card-img-top" style="height: 222px;width: 222px"
             src="https://cf.shopee.vn/file/2d7be0212d27e8ad73bcd2e6ef2ffbb9"
             alt="Card image cap">
        <div class="card-body">
          <span style="font-weight: bold;font-size: 15px">Logitech G502 HERO</span>
          <button class="btn btn-primary d-flex justify-content-center" style="color: white">Thêm vào giỏ</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="side-banner banner-right row "
     style="width: 94.5px;float:left;position: sticky;right: 10px;top:5px;margin-bottom: 285px"><a
  href="https://www.tncstore.vn/gaming-laptop.html" alt="Helios 16 - 2023"><img
  src="https://i.imgur.com/qAXtaSp.png" alt="Helios 16 - 2023"></a></div>
