<div class="side-banner banner-left row d-flex"
     style="width: 94.5px;float: left;position: sticky;top:5px;margin-bottom: 285px"><a
  href="https://www.tncstore.vn/laptop-acer-predator-helios-16-ph16-71-94n1-nh-qjssv-002-i9-13900hx-32gb-2tb-rtx-4080-12gb-16-inch-wqxga-win-11"><img
  src="https://i.imgur.com/uSTAVih.png" alt="Laptop Gaming 2023"></a></div>
<div class="container row " style="margin: 10px;display: inline-block;float: left">
  <div style="margin: 10px 20px 10px 20px">
    <div class="d-flex row" style="font-size: 20px;margin-top: 20px">
      <div class="col-lg-8">
        <div style="width: 100%;position: relative;font-size: 18px">
          <div class="d-flex row">
            <p class="text item-cart text-center">1. Chọn sản phẩm</p>
            <p class="text item-cart text-center" style="width: 230px">2. Xác nhận đơn hàng</p>
            <p class="text item-cart text-center">3. Thanh toán</p>
          </div>
          <h4 class="text">THÔNG TIN SẢN PHẨM</h4>
          <div  style="height: 400px;overflow: scroll">
            <div *ngFor="let x of cart" style="border: 1px solid #005ec4;height:110px;width: 640px;margin-top: 10px;margin-left: 10px;padding-bottom: -20px;">

              <div style="width: 80px;display: inline-block;margin-bottom: 10px;margin-top: -5px">
                <img
                  src="{{x.image}}" [routerLink]="['/product/detail/'+x.id]"
                  style="height: 90px;width: 90px;object-fit: cover;margin-top: -20px;margin-left: 10px;cursor: pointer">
              </div>
              <div  style="width: 500px;display: inline-block;position: relative;margin-left: 30px">
                <h4 [routerLink]="['/product/detail/'+x.id]"  style="color: #005ec4;margin-top: 10px;cursor: pointer" class="text">{{x.name}}</h4>
                <span>Số lượng</span> <button (click)="downQuantity(x.id)" style="border: 0 solid white;height: 30px;width: 30px;margin-left: 10px"> - </button> <span style="color: #005ec4;margin-left: 10px">{{x.quantity}}</span> <button (click)="upQuantity(x.id)" style="border: 0 solid white;height: 30px;width: 30px;margin-left: 10px"> + </button>
                <span class="text" style="position: absolute;right: 10px;top: 20px" >{{x.price}} đ</span>
                <button (click)="delete(x.id)" style="position: absolute;right: 10px;top: 50px;border: 2px solid;border-radius: 0" class="btn btn-outline-primary"><i class="fa-sharp fa-solid fa-trash" style="margin-right: 10px"></i> <span class="text" style="margin-left: 10px">XÓA</span></button>
              </div>
            </div>
          </div>
        </div>
          <button routerLink="/" style="margin-top: 20px;border-radius: 0;background: #005ec4" class="btn btn-primary "><i class="fa-solid fa-rotate-left"></i> <span class="text" style="margin-left: 10px">QUAY LẠI TRANG CHỦ</span></button>
      </div>
      <div class="col-lg-4">
        <div style="background: #f0f3fc;width: 100%;position: relative">
          <div style="padding: 20px" class="text">
            <h4>THÔNG TIN GIỎ HÀNG</h4>
            <p>Số lượng sản phẩm <span style="color: #005ec4;position: absolute;right: 20px">{{quantity}}</span></p>
            <p style="margin-top: -15px">Tổng chi phí <span style="color: red;position: absolute;right: 20px">{{total}} đ</span>
            </p>
            <p style="color: #92999f;position: absolute;right: 20px;margin-top: -13px;font-size: 13px">Đã bao gồm VAT
              (nếu có)</p>
            <button (click)="buy()" style="width: 100%;border-radius: 0;margin-top: 20px" class="btn btn-primary">XÁC NHẬN ĐƠN HÀNG
            </button>
            <button style="width: 100%;border-radius: 0;margin-top: 20px" class="btn btn-danger" (click)="dropCart()">XÓA GIỎ HÀNG</button>
            <button style="width: 100%;border-radius: 0;margin-top: 20px" class="btn btn-outline-primary" routerLink="/list/search/1/null">XEM SẢN PHẨM
              KHÁC
            </button>
          </div>
        </div>
        <div style="width: 100%;position: relative;font-size: 14px">
          <div style="padding: 20px">
            <p><i style="color: forestgreen" class="fa-sharp fa-solid fa-circle-check"></i> <span class="text"
                                                                                                  style="margin-left: 5px"> Hỗ trợ trả góp 0%, trả trước 0đ</span>
            </p>
            <p style="margin-top: -10px"><i style="color: forestgreen" class="fa-sharp fa-solid fa-circle-check"></i>
              <span class="text" style="margin-left: 5px"> Hoàn tiền 200% khi phát hiện hàng giả</span></p>
            <p style="margin-top: -10px"><i style="color: forestgreen" class="fa-sharp fa-solid fa-circle-check"></i>
              <span class="text" style="margin-left: 5px"> Giao hàng nhanh 3H nội thành Hà Nội</span></p>
            <p style="margin-top: -10px"><i style="color: forestgreen" class="fa-sharp fa-solid fa-circle-check"></i>
              <span class="text" style="margin-left: 5px"> Giao hàng từ 5 - 7 ngày toàn quốc</span></p>
            <p style="margin-top: -10px"><i style="color: forestgreen" class="fa-sharp fa-solid fa-circle-check"></i>
              <span class="text" style="margin-left: 5px"> Đội ngũ kĩ thuật hỗ trợ online 7/7</span></p>
          </div>
          <div style="width: 100%;margin-top: -30px;margin-left: 15px">
            <a href=""><img src="https://www.tncstore.vn/catalog/view/theme/default/image/tien-mat.png" alt=""></a>
            <a href=""><img src="https://www.tncstore.vn/catalog/view/theme/default/image/internet-bank.png" alt=""></a>
            <a href=""><img src="https://www.tncstore.vn/catalog/view/theme/default/image/mastercard.png" alt=""></a>
            <a href=""><img src="https://www.tncstore.vn/catalog/view/theme/default/image/visa.png" alt=""></a>
          </div>
        </div>

      </div>


    </div>
    <h3 style="width: 100%;background: #92999f;height: 10px;margin-top: 30px"><h3 class="text-center text"
                                                                                  style="margin: 30px 30px 30px 330px;padding-bottom: 10px;line-height: 8px;background: white;width: 380px;color: #29324e; ">
      SẢN PHẨM ĐANG HOT</h3></h3>
    <div style="margin: 20px;" >
 <div style="margin-left:10px">
   <div *ngFor="let x of products" class="card" style="width: 14rem;display: inline-block;margin: 10px 10px 10px 10px">
     <img [routerLink]="['/product/detail/'+x.id]" class="card-img-top" style="height: 222px;width: 222px;object-fit: cover"
          src="{{x.image}}"
          alt="Card image cap">
     <div class="card-body">
       <span style="font-weight: bold;font-size: 15px">{{x.name}}</span>
       <p style="position: relative" class="text-danger">{{x.price}} đ <span style="position: absolute;right: 1px;bottom:3px;font-size: 13px;color: #92999f;text-decoration: line-through">{{x.oldPrice}} đ</span></p>

       <button class="btn btn-primary d-flex justify-content-center" (click)="click(x)" style="color: white;margin-left: 33px">Thêm vào giỏ</button>
     </div>
   </div>
 </div>


    </div>
  </div>
</div>


<div class="side-banner banner-right row "
     style="width: 94.5px;float:left;position: sticky;right: 10px;top:5px;margin-bottom: 285px"><a
  href="https://www.tncstore.vn/gaming-laptop.html" alt="Helios 16 - 2023"><img
  src="https://i.imgur.com/qAXtaSp.png" alt="Helios 16 - 2023"></a></div>
