
<div class="row" style="width: 100%">
  <div class="col-lg-1" style="margin-bottom: 0">
    <div class="side-banner banner-left"
         style="width: 94.5px;left: 0;position: sticky;top:10%;;float: left;display: inline-block"><a
    ><img
      src="https://i.imgur.com/uSTAVih.png" alt="Laptop Gaming 2023"></a></div>
  </div>
  <div class="col-lg-10" style="margin-left: -30px">
    <div style="margin: 0 auto;text-align: center">

    <div class="container row " style="margin: 10px auto;display: inline-block;">
      <h2 style="width: 100%;background: #92999f;margin-left: 25px;height: 10px;margin-top: 20px">  <div class="text-center text" style="margin: 0 auto;line-height: 5px;padding-bottom:10px;background: white;width: 480px">LỊCH SỬ ĐẶT HÀNG</div></h2>

      <table class="table-text table" style="margin-top: 20px">
        <thead>
        <tr style="background: #005ec4;color: white" class="text3">
          <th>STT</th>
          <th>Hình ảnh</th>
          <th>Tên </th>
          <th>Số điện thoại</th>
          <th>Địa chỉ</th>
          <th>Ngày mua</th>
          <th>Số lượng</th>
          <th>Tổng tiền</th>
          <th>Chi tiết</th>
        </tr>
        </thead>
        <tbody class="tbody">
        <tr *ngFor="let x of bills;index as i">
          <th>{{i + 1 + page * size}}</th>
          <th><img src="{{x.user.avatar}}" style="width: 50px;height: 50px;object-fit: cover;border: 1px solid #005ec4;border-radius: 50%"></th>
          <th style="text-transform: capitalize">{{x.name}}</th>
          <th>+{{x.user.phoneNumber}}</th>
          <th>{{x.user.address}}</th>
          <th>{{x.buyDate}}</th>
          <th>{{x.quantity}}</th>
          <th>{{x.totalPayment | number}}đ</th>
          <th>
            <button (click)="check(x.id,x.user,x)" data-bs-toggle="modal" data-bs-target="#exampleModal2" class="btn btn-primary"><i style="color: white"
                                                                                                                                     class="fa-solid fa-circle-info"></i></button>
          </th>
        </tr>
        </tbody>
      </table>
      <div style="margin: 0 auto">
        <button class="btn btn-outline-primary" [disabled]="first == true" (click)="changePage(page -1)"
                style="border-radius: 0;margin: 10px"><i style="margin-right: 8px"
                                                         class="fa-solid fa-circle-chevron-left"></i> <span class="text2">Trang trước</span>
        </button>
        <button class="btn btn-outline-primary" style="border-radius: 0;"><span class="text2">{{page + 1}}</span></button>
        <button class="btn btn-outline-primary" [disabled]="last == true" (click)="changePage(page +1)"
                style="border-radius: 0;margin: 10px"><span class="text2" style="margin-right: 8px">Trang sau</span> <i
          class="fa-solid fa-circle-chevron-right"></i></button> <br> <br>
      </div>
      <h2 style="width: 100%;background: #92999f;margin-left: 25px;height: 10px;margin-top: 20px">  <div class="text-center text" style="margin: 0 auto;line-height: 5px;padding-bottom:10px;background: white;width: 480px">THỐNG KÊ DOANH THU</div></h2>
      <div class="row" style="margin-left:30px;margin-top: 20px">
        <br>
        <canvas id="myChart"></canvas>
      </div>
    </div>
    </div>

  </div>
    <div class="col-lg-1" style=";margin-bottom: 0;margin-left: 15px">
    <div class="side-banner banner-right row "
         style="width: 93.5px;position: sticky;right: 0;top:10%;margin-right: 0;float: right"><a
      alt="Helios 16 - 2023"><img
      src="https://i.imgur.com/qAXtaSp.png" alt="Helios 16 - 2023"></a></div>
  </div>
</div>






<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 700px;margin-left: -100px">
      <div class="modal-body">
        <div class="row d-flex">
          <div class="col-lg-7" >
            <h4 class="text">Chi tiết đơn hàng</h4>
            <div style="max-height: 490px;overflow-y: scroll">
              <div *ngFor="let x of buyHistorys" style="border: 1px solid #005ec4;position: relative;margin-bottom: 10px" >
                 <img style="height: 50px;width: 50px;object-fit: cover;margin-left: 5px" src="{{x.product.image}}">
                 <p class="text" style="position: absolute;top:0;left: 60px;display: inline;margin-left: 10px;color: #005ec4">{{x.product.name}}</p>
                 <p class="text" style="position: absolute;top:20px;left: 60px;margin-left: 10px ">Số lượng {{x.quantity}}</p>
                 <p class="text" style="position: absolute;top:20px;right: 10px;margin-left: 10px;color: #005ec4 ">{{x.product.price | number}}đ</p>
              </div>
            </div>
            </div>
          <div class="col-lg-5" >
            <div style="position: relative">
              <div style="width: 100%;background-image: url('https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg?w=2000');height: 80px">
              </div>
              <img src="{{userBill.avatar}}" style="width: 100px;height:100px;margin-top: -55px;margin-left: 80px;border-radius: 50%;border: 3px solid white;object-fit: cover">
               <h5 class="text2 text-center" style="text-transform: capitalize;margin-left: -5px;font-size: 30px;color: #3a5876;margin-bottom: -5px;width: 280px">{{bill.name}}</h5>
              <div class="text" style="margin-top: 10px;">
                <h5 style="margin-bottom: 5px">Thông tin khách hàng</h5>
                <p style="margin-bottom: 5px"><i style="margin-right: 15px" class="fa-sharp fa-solid fa-envelope"></i> <span style="color: #005ec4">{{bill.email}}</span></p>
                <p style="margin-bottom: 5px"><i style="margin-right: 15px" class="fa-solid fa-phone"></i> <span style="color: #005ec4">+{{bill.phoneNumber}}</span></p>
                <p style="margin-bottom: 5px"><i style="margin-right: 15px" class="fa-solid fa-cake-candles"></i> <span style="color: #005ec4">{{userBill.dateOfBirth | date:'dd/MM/yyyy'}}</span></p>
                <p *ngIf="bill.address" style="margin-bottom: 5px"><i style="margin-right: 15px" class="fa-solid fa-location-dot"></i> <span style="color: #005ec4">{{bill.address}}</span></p>
              </div>
              <div class="text"  style="position: relative">
                <h5 style="margin-bottom: 5px">Thông tin hóa đơn</h5>
                <p style=" margin-bottom: 5px">Thời gian</p> <p style="position: absolute;right: 0;top: 30px;color: #005ec4"> {{bill.buyDate }}</p>
                <p style="margin-bottom: 5px">Số lượng </p>  <p style="position: absolute;right: 0;top: 58px;color: #005ec4"> {{bill.quantity}}</p>
                <p style="margin-bottom: 5px">Tổng thanh toán </p> <p style="position: absolute;right: 0;top: 85px;color: red"> {{bill.totalPayment | number}}đ</p>
              </div>
              <div *ngIf="bill.note" style="color: #32be8f" class="text text-center"> "{{bill.note}} <i  class="fa-sharp fa-solid fa-face-smile"></i>" </div>
            </div>

            <div style="width: 100%;background: white ">
              <a ><img src="https://www.tncstore.vn/catalog/view/theme/default/image/tien-mat.png" alt=""></a>
              <a ><img src="https://www.tncstore.vn/catalog/view/theme/default/image/internet-bank.png" alt=""></a>
              <a ><img src="https://www.tncstore.vn/catalog/view/theme/default/image/mastercard.png" alt=""></a>
              <a ><img src="https://www.tncstore.vn/catalog/view/theme/default/image/visa.png" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
