
<div class="row" style="width: 100%">
  <div class="col-lg-1" style="margin-bottom: 0">
    <div class="side-banner banner-left"
         style="width: 94.5px;left: 0;position: sticky;top:10%;;float: left;display: inline-block"><a
    ><img
      src="https://i.imgur.com/uSTAVih.png" alt="Laptop Gaming 2023"></a></div>
  </div>
  <div class="col-lg-10">
<div style="text-align: center;margin: 0 auto">

    <div class="container row " style="margin: 10px auto;display: inline-block;">

      <div class="d-flex row" style="margin-left: 0">
        <div class="d-flex" style="font-size: 20px;margin-left: 0">
          <i style="line-height: 1.6;cursor: pointer" routerLink="/"
             class="fa-sharp fa-solid fa-house colors"></i>
          <i style="line-height: 1.6;margin-left: 30px" class="fa-sharp fa-solid fa-chevron-right"></i>
          <h4 class="text" style="margin-left: 30px;cursor: pointer" routerLink="/body">Trang chủ</h4>
          <i style="line-height: 1.6;margin-left: 30px" class="fa-sharp fa-solid fa-chevron-right"></i>
          <h4 routerLink="/news" class="text"
              style="margin-left: 10px;cursor: pointer">Tin tức</h4>
        </div>
        <div class="col-lg-8">
          <div>
            <div class="text" style="background: #dddfe6;width: 100%;height: 15px;margin-top: 20px"><h4 class="text-center"
                                                                                                        style="padding-bottom: 10px;margin: -10px auto 0 auto;background: white;width: 330px;line-height: 18px">
              BÀI VIẾT MỚI NHẤT</h4></div>
            <div class="d-flex row" style="margin-top: 20px">
              <div style="width: 320px;height: 510px">
                <img routerLink="/news/detail/1" style="cursor: pointer;width: 320px;height: 180px;object-fit: cover"
                     src="https://i.imgur.com/nBV3vZI.png">
                <div style="margin-left: 10px" class="text">
                  <h4 routerLink="/news/detail/1" style="cursor: pointer;margin: 10px 0;color: black">
                    Tất cả các linh kiện đều giảm nhiệt nhưng giá của VGA vẫn còn "Hơi đắt"
                  </h4>
                  <p style="text-align: justify;margin-bottom: 0;line-height: normal;">
                    Nếu bạn quan sát thị trường phần cứng PC giờ sẽ thấy ổ cứng, RAM DDR5, màn hình, bo mạch chủ, hay thậm
                    chí
                    là CPU giờ đã ó mức giá phải chăng hơn năm ngoái rất nhiều. Thế nhưng riêng card đồ họa thì chúng vẫn
                    chưa
                    chịu đi theo xu hướng đó các bạn ạ...
                  </p>
                </div>
              </div>

              <div style="width: 320px;height: 510px;margin-left: 20px">
                <img routerLink="/news/detail/2" style="cursor: pointer;width: 320px;height: 180px;object-fit: cover"
                     src="https://i.imgur.com/4kqxHPy.jpg">
                <div style="margin-left: 10px" class="text">
                  <h4 routerLink="/news/detail/2" style="cursor: pointer;margin: 10px 0;color: black">
                    DẪN ĐẦU PHONG CÁCH – CHINH PHỤC THỬ THÁCH
                  </h4>
                  <p style="text-align: justify;margin-bottom: 0;line-height: normal;">
                    Tặng Áo khoác + Bình nước ROG phiên bản giới hạn khi mua combo di động gồm Tai nghe in-ear ROG Cetra
                    True Wireless + Chuột gaming ROG KERIS AIMPOINT WL Tặng lót chuột ROG Hone Ace Aim Lab Edition trị giá
                    1,000,000đ khi mua Bàn phím cơ gaming ROG...
                  </p>
                </div>
              </div>


              <div style="width: 320px;height: 510px">
                <img routerLink="/news/detail/4" style="cursor: pointer;width: 320px;height: 180px;object-fit: cover"
                     src="https://i.imgur.com/a4KtiJk.jpg">
                <div style="margin-left: 10px" class="text">
                  <h4 routerLink="/news/detail/4" style="cursor: pointer;margin: 10px 0;color: black">
                    Dying Light Enhanced Edition sẽ được phát tặng miễn phí
                  </h4>
                  <p style="text-align: justify;margin-bottom: 0; line-height: normal;">
                    Dying Light Enhanced Edition là một trong những tựa game sinh tồn kinh dị được yêu thích nhất của hãng
                    game Techland. Game đã ra mắt vào năm 2015 và được cập nhật, phát hành phiên bản nâng cấp Enhanced
                    Edition vào năm 2016 với nhiều tính năng mới nâng...
                  </p>
                </div>
              </div>

              <div style="width: 320px;height: 510px;margin-left: 20px">
                <img routerLink="/news/detail/3" style="cursor: pointer;width: 320px;height: 180px;object-fit: cover"
                     src="https://i.imgur.com/P5kGWP5.jpg">
                <div style="margin-left: 10px" class="text">
                  <h4 routerLink="/news/detail/3" style="cursor: pointer;margin: 10px 0;color: black">
                    NHẬN NGAY QUÀ TẶNG TỔNG TRỊ GIÁ LÊN ĐẾN 15 TRIỆU ĐỒNG KHI MUA SẢN PHẨM ASUS TUF GAMING!!!
                  </h4>
                  <p style="text-align: justify;margin-bottom: 0;">
                    MUA SẢN PHẨM ASUS TUF GAMING - NHẬN NGAY QUÀ TRỊ GIÁ 15 TRIỆU ĐỒNG...
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4" style="width: 340px;margin-left: 1px">
          <div class="text" style="background: #dddfe6;width: 100%;height: 15px;margin-top: 20px"><h4 class="text-center"
                                                                                                      style="padding-bottom: 10px;margin: -10px auto 0 auto;background: white;width:200px;line-height: 18px">
            FOLLOW US</h4></div>
          <div>
            <img style="margin-top: 20px;width: 65px;height: 65px;"
                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Facebook-icon-1.png/640px-Facebook-icon-1.png">
            <a class="text" target="_blank" href="https://www.facebook.com/mainvov/"
               style="margin-top: 90px;font-size: 20px;display: inline;color: #005ec4;line-height: 20px;margin-left: 20px">facebook.com/mainvov</a>
          </div>
          <div style="width: 400px">
            <img style="margin-top: 20px;width: 65px;height: 65px;"
                 src="https://cdn-icons-png.flaticon.com/512/124/124021.png">
            <a class="text" target="_blank" href="https://twitter.com/cuongvo1233"
               style="font-size: 20px;display: inline;color: #005ec4;line-height: 20px;margin-left: 20px;">twitter.com/cuongvo1233</a>
          </div>
          <div>
            <img style="margin-top: 20px;width: 65px;height: 65px;"
                 src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSe5B150YaTzAhnoinwDofQ6LPqIb2vOvgh2A&usqp=CAU">
            <a class="text" target="_blank" href="https://www.youtube.com/channel/UCj8mKAAtazHrW29bjr7g_OQ"
               style="font-size: 20px;display: inline;color: #005ec4;line-height: 20px;margin-left: 20px">youtube.com/channel</a>
          </div>
          <div style="width: 400px">
            <img style="margin-top: 20px;width: 65px;height: 65px;"
                 src="https://img.freepik.com/free-vector/instagram-logo_1199-122.jpg">
            <a class="text" target="_blank" href="https://www.instagram.com"
               style="font-size: 20px;display: inline;color: #005ec4;line-height: 20px;margin-left: 20px">instagram.com/cuongvov</a>

          </div>
        </div>
      </div>
    </div>

    </div>

  </div>
  <div class="col-lg-1" style=";margin-bottom: 0;margin-left: -15px">
    <div class="side-banner banner-right row "
         style="width: 93.5px;position: sticky;right: 0;top:10%;margin-right: 0;float: right"><a
      alt="Helios 16 - 2023"><img
      src="https://i.imgur.com/qAXtaSp.png" alt="Helios 16 - 2023"></a></div>
  </div>
</div>
