<div class="side-banner banner-left row d-flex"
     style="width: 94.5px;float: left;position: sticky;top:5px;margin-bottom: 285px"><a
  href="https://www.tncstore.vn/laptop-acer-predator-helios-16-ph16-71-94n1-nh-qjssv-002-i9-13900hx-32gb-2tb-rtx-4080-12gb-16-inch-wqxga-win-11"><img
  src="https://i.imgur.com/uSTAVih.png" alt="Laptop Gaming 2023"></a></div>

<div class="container row " style="margin: 10px;display: inline-block;float: left">
  <div style="margin: 10px 20px 10px 20px">

    <div class="d-flex" style="font-size: 20px">
      <i style="line-height: 1.6;cursor: pointer" routerLink="/" class="fa-sharp fa-solid fa-house"></i>
      <i style="line-height: 1.6;margin-left: 30px" class="fa-sharp fa-solid fa-chevron-right"></i>
      <h4 class="text" style="margin-left: 30px;cursor: pointer" routerLink="/">Trang chủ</h4>
      <i style="line-height: 1.6;margin-left: 30px" class="fa-sharp fa-solid fa-chevron-right"></i>
      <h4 class="text" style="margin-left: 30px">PC Gaming</h4>
    </div>
    <div class="d-flex row" style="font-size: 20px;margin-top: 20px">
      <div class="col-lg-6">
        <img
          src="https://storage.googleapis.com/cdn.tanphatad.com/tanphatad/2020/12/bo-may-pc-gaming-khung-h410-i3-10100f-ram-16g-ssd-m2-128gb-vga-1070-8gg-case-zeus-5fe933e307bf2.jpg"
          style="width: 400px;height: 400px;margin-left: 30px;object-fit: cover;border-radius: 20px;border: 1px solid #005ec4">
      </div>
      <div class="col-lg-6" style="border-left: 1px solid #005ec4;padding-left: 50px;margin-left: -30px">
        <h3 class="text" style="color: #005ec4">PC Gaming - Alpha A3 - BL</h3>
        <div>
          <p>- CPU: Ryzen 3 3200G 3.6 GHz (4.0 GHz with boost) / 6MB / 4 cores 4 threads</p>
          <p>- Mainboard: ASUS Prime A320M-K</p>
          <p>- SSD: Kingston A400 240GB</p>
          <p>- RAM: KIMTIGO 8GB DDR4 3200MHz</p>
          <p>- Nguồn: Antec CSK450 450W 80 Plus Bronze</p>
          <p>- Vỏ case: Xigmatek Fadil 1F</p>
        </div>
        <div style="margin-top: 30px; ">
          <i style="color: #32be8f" class="fa-sharp fa-solid fa-circle-check"></i> <span class="text"
                                                                                         style="color: #32be8f;margin-left: 10px">  CÒN HÀNG</span>
          <span class="text" style="position: absolute;right: 200px;color: #92999f;text-decoration: line-through;">7.866.000 đ</span>
        </div>
        <div style="margin-top: 30px; ">
          <span class="text">Số lượng</span>
          <input type="number" class="text text-center"
                 style="margin-left: 20px;border: 1px solid #005ec4;width: 40px;height: 40px;color: #005ec4" value="1">
          <span class="text" style="position: absolute;right: 200px;color:red;font-size: 40px;line-height: 1">6.290.000 đ</span>

        </div>
        <div style="margin-top: 20px; ">
          <button style="border-radius: 0;font-size: 20px;width: 200px" class="btn btn-outline-primary button-1"><i
            class="fa-solid fa-plus button-1"></i> <b class="button-1"> THÊM VÀO GIỎ</b></button>
          <button routerLink="/cart" style="border-radius: 0;margin-left: 40px;font-size: 20px;width:200px;color: white"
                  class="btn btn-primary"><i style="color: white" class="fa-solid fa-cart-shopping"></i><b
            style="color: white"> MUA HÀNG</b></button>
        </div>
      </div>
    </div>
    <div class="d-flex row" style="font-size: 15px;margin-top: 30px;margin-left: 5px">
      <div class="d-flex" style="width: 220px;height: 104px;background: #f0f3fc;margin-left: 30px">
        <p style="font-size: 50px;margin-top: 10px">
          <i class="fa-regular fa-address-card"></i>
        </p>
        <p style="width: 150px;height: 200px; margin-left: 20px;font-size: 15px;margin-top: 25px">
          <b> Hỗ trợ trả góp 0%, trả trước 0đ</b>
        </p>
      </div>
      <div class="d-flex" style="width: 220px;height: 104px;background: #f0f3fc;margin-left: 30px">
        <p style="font-size: 50px;margin-top: 10px">
          <i class="fa-solid fa-money-check-dollar"></i>
        </p>
        <p style="width: 150px;height: 200px; margin-left: 20px;font-size: 15px;margin-top: 25px">
          <b> Hoàn tiền 200% nếu có hàng giả</b>
        </p>
      </div>
      <div class="d-flex" style="width: 220px;height: 104px;background: #f0f3fc;margin-left: 30px">
        <p style="font-size: 50px;margin-top: 10px">
          <i class="fa-solid fa-truck-fast"></i>
        </p>
        <p style="width: 150px;height: 200px; margin-left: 20px;font-size: 15px;margin-top: 15px">
          <b> Giao hàng nhanh trên toàn quốc</b>
        </p>
      </div>
      <div class="d-flex" style="width: 220px;height: 104px;background: #f0f3fc;margin-left: 30px">
        <p style="font-size: 50px;margin-top: 10px">
          <i class="fa-solid fa-message"></i>
        </p>
        <p style="width: 150px;height: 200px; margin-left: 20px;font-size: 15px;margin-top: 25px">
          <b> Hỗ trợ kĩ thuật online 7/7</b>
        </p>
      </div>
    </div>
    <h3 style="width: 100%;background: #92999f;height: 10px;margin-top: 30px"><h3 class="text-center text"
                                                                                  style="margin: 30px 30px 30px 330px;padding-bottom: 10px;line-height: 8px;background: white;width: 380px">
      QUÀ TẶNG KHUYẾN MÃI</h3></h3>
    <div class="d-flex row" style="font-size: 20px;margin-top: 20px">
      <div class="col-lg-6">
        <h4 class="text"><b style="font-size: 30px">Ưu đãi khi mua sản phẩm</b></h4>
        <div style="width: 100%;border: 1px solid #005ec4;position: relative">
          <p class="text" style="padding: 20px;width: 350px">
            Gói quà tặng bao gồm:
            - Tặng Voucher 200.000đ khi khách hàng build PC ( Đã trừ thẳng vào giá)
            - Tặng PMH 200k áp dụng cho mua gear
            - Giảm trực tiếp 3% khi khách hàng mua thêm tản khí hoặc pack fan
            - Hỗ trợ trả góp với lãi suất 0%
          </p>
          <p class="text " style="position: absolute;top: 120px;right: 20px">
            <b style="color: #32be8f;font-size: 30px"> Đang chọn</b>
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="https://www.tncstore.vn/image/catalog/Qua%20Tang/BG%20qua%20tang.jpg"
             style="width: 500px;height: 300px;margin-left: 10px;object-fit: cover;border-radius: 0;border: 1px solid #005ec4;margin-top:40px">
      </div>
    </div>

    <div>

    </div>
  </div>

</div>
<div class="side-banner banner-right row "
     style="width: 94.5px;float:left;position: sticky;right: 10px;top:5px;margin-bottom: 285px"><a
  href="https://www.tncstore.vn/gaming-laptop.html" alt="Helios 16 - 2023"><img
  src="https://i.imgur.com/qAXtaSp.png" alt="Helios 16 - 2023"></a></div>
