@font-face {
  font-family: 'Chakra Petch';
  src: url('fonts/ChakraPetch-SemiBold.ttf') format('truetype');
}
* {
  color: #29324e;
}
body{
  margin: 0;
  padding: 0;
}
.text {
  font-family: Chakra Petch;
}

.line-high {
  font-family: Chakra Petch;
  margin-bottom: 0;
}
.container {
  width: 1100px;
  margin: 10px;
}
.button-1:hover {
  color: white;
}
.button-1 {
  color: #005ec4;
}
