<div class="side-banner banner-left row d-flex"
     style="width: 94.5px;float: left;position: sticky;top:5px;margin-bottom: 285px"><a
  href="https://www.tncstore.vn/laptop-acer-predator-helios-16-ph16-71-94n1-nh-qjssv-002-i9-13900hx-32gb-2tb-rtx-4080-12gb-16-inch-wqxga-win-11"><img
  src="https://i.imgur.com/uSTAVih.png" alt="Laptop Gaming 2023"></a></div>

<div class="container row " style="margin: 10px;display: inline-block;float: left">
  <div style="margin: 10px 20px 10px 20px">

    <div class="d-flex" style="font-size: 20px">
      <i style="line-height: 1.6;cursor: pointer" routerLink="/" class="fa-sharp fa-solid fa-house"></i>
      <i style="line-height: 1.6;margin-left: 30px" class="fa-sharp fa-solid fa-chevron-right"></i>
      <h4 class="text" style="margin-left: 30px;cursor: pointer" routerLink="/">Trang chủ</h4>
      <i style="line-height: 1.6;margin-left: 30px" class="fa-sharp fa-solid fa-chevron-right"></i>
      <h4 class="text" style="margin-left: 30px">{{product.category.name}}</h4>
    </div>
    <div class="d-flex row" style="font-size: 20px;margin-top: 20px">
      <div class="col-lg-6">
        <img
          src="{{product.image}}"
          style="width: 400px;height: 400px;margin-left: 30px;object-fit: cover;border-radius: 20px;border: 1px solid #005ec4">
      </div>
      <div class="col-lg-6" style="border-left: 1px solid #005ec4;padding-left: 50px;margin-left: -30px">
        <h3 class="text" style="color: #005ec4">{{product.name}}</h3>
        <div *ngIf="product.category.id == 2">
          <p>- CPU: {{product.cpu}}</p>
          <p>- Mainboard: {{product.mainboard}}</p>
          <p>- SSD: {{product.ssd}}</p>
          <p>- RAM: {{product.ram}}</p>
          <p>- VGA: {{product.vga}}</p>
          <p>- Nguồn: {{product.psu}}</p>
          <p>- Vỏ case: {{product.cases}}</p>
        </div>
        <div *ngIf="product.category.id == 1" style="font-size: 16px">
          <p>- CPU: {{product.cpu}}</p>
          <p>- RAM: {{product.ram}}</p>
          <p>- Ổ cứng: {{product.hardDrive}}</p>
          <p>- VGA: {{product.vga}}</p>
          <p>- Màn hình: {{product.monitor}}</p>
          <p>- Nguồn: {{product.psu}}</p>
          <p *ngIf="product.pin">- Pin: {{product.pin}}</p>
          <p>- Cân Nặng: {{product.weight}}</p>
          <p *ngIf="product.color">- Màu sắc: {{product.color}}</p>
          <p>- OS: {{product.os}}</p>
        </div>
        <div *ngIf="product.category.id == 6" style="font-size: 16px">
          <p>- Chất liệu {{product.material}}</p>
          <p>- Thương hiệu {{product.brand}}</p>
          <p>- Model {{product.model}}</p>
          <p>- Kê tay {{product.kneelings}}</p>
          <p>- Màu sắc {{product.color}}</p>
          <p>- Trọng tải theo góc đứng {{product.weight}}</p>
        </div>
        <div *ngIf="product.category.id == 4" style="font-size: 16px">
          <p>- Kích thước {{product.screenSize}}</p>
          <p>- Độ phân giải {{product.resolution}}</p>
          <p>- Tấm nền {{product.model}}</p>
          <p>- Tần số quét {{product.scanFrequency}}</p>
          <p>- Tỉ lệ màn hình {{product.aspectRatio}}</p>
          <p>- Cổng kết nối: {{product.connector}}</p>
        </div>
        <div *ngIf="product.category.id == 3" style="font-size: 16px">
          <p>- {{product.keyboard}}</p>
          <p>- Kết nối {{product.connect}}</p>
          <p>- Keycap {{product.keycap}}</p>
          <p>- Loại switch {{product.Switch}}</p>
          <p>- Pin {{product.pin}}</p>
          <p>- Tương thích {{product.os}}</p>
        </div>
        <div *ngIf="product.category.id == 5" style="font-size: 16px">
          <p>- {{product.dpi}}</p>
          <p>- {{product.reliability}}</p>
          <p>- {{product.compatible}}</p>
          <p>- {{product.sensor}}</p>
          <p *ngIf="product.connect">- Hỗ trợ kết nối {{product.connect}}</p>
          <p *ngIf="product.os">- Tương thích {{product.os}}</p>
          <p *ngIf="product.pin">- Pin {{product.pin}}</p>
          <p *ngIf="product.weight">- {{product.weight}}</p>
        </div>
        <div style="margin-top: 30px; ">
          <i style="color: #32be8f" class="fa-sharp fa-solid fa-circle-check"></i> <span class="text"
                                                                                         style="color: #32be8f;margin-left: 10px">  CÒN HÀNG</span>
          <span class="text" style="position: absolute;right: 200px;color: #92999f;text-decoration: line-through;">{{product.oldPrice}} đ</span>
        </div>
        <div style="margin-top: 30px; ">
          <span class="text">Số lượng</span>
          <input #element type="number" [min]="1" class="text text-center"
                 style="margin-left: 20px;border: 1px solid #005ec4;width: 40px;height: 40px;color: #005ec4" value="1">
          <span class="text" style="position: absolute;right: 200px;color:red;font-size: 40px;line-height: 1">{{product.price}} đ</span>

        </div>
        <div style="margin-top: 20px; ">
          <button (click)="addToCart(element.value)" style="border-radius: 0;font-size: 20px;width: 200px" class="btn btn-outline-primary button-1"><i
            class="fa-solid fa-plus button-1"></i> <b class="button-1"> THÊM VÀO GIỎ</b></button>
          <button routerLink="/cart" (click)="buy(element.value)" style="border-radius: 0;margin-left: 40px;font-size: 20px;width:200px;color: white"
                  class="btn btn-primary"><i style="color: white" class="fa-solid fa-cart-shopping"></i><b
            style="color: white"> MUA HÀNG</b></button>
        </div>
      </div>
    </div>
    <div class="d-flex row" style="font-size: 15px;margin-top: 30px;margin-left: 5px">
      <div class="d-flex" style="width: 220px;height: 104px;background: #f0f3fc;margin-left: 30px">
        <p style="font-size: 50px;margin-top: 10px">
          <i class="fa-regular fa-address-card"></i>
        </p>
        <p style="width: 150px;height: 200px; margin-left: 20px;font-size: 15px;margin-top: 25px">
          <b> Hỗ trợ trả góp 0%, trả trước 0đ</b>
        </p>
      </div>
      <div class="d-flex" style="width: 220px;height: 104px;background: #f0f3fc;margin-left: 30px">
        <p style="font-size: 50px;margin-top: 10px">
          <i class="fa-solid fa-money-check-dollar"></i>
        </p>
        <p style="width: 150px;height: 200px; margin-left: 20px;font-size: 15px;margin-top: 25px">
          <b> Hoàn tiền 200% nếu có hàng giả</b>
        </p>
      </div>
      <div class="d-flex" style="width: 220px;height: 104px;background: #f0f3fc;margin-left: 30px">
        <p style="font-size: 50px;margin-top: 10px">
          <i class="fa-solid fa-truck-fast"></i>
        </p>
        <p style="width: 150px;height: 200px; margin-left: 20px;font-size: 15px;margin-top: 15px">
          <b> Giao hàng nhanh trên toàn quốc</b>
        </p>
      </div>
      <div class="d-flex" style="width: 220px;height: 104px;background: #f0f3fc;margin-left: 30px">
        <p style="font-size: 50px;margin-top: 10px">
          <i class="fa-solid fa-message"></i>
        </p>
        <p style="width: 150px;height: 200px; margin-left: 20px;font-size: 15px;margin-top: 25px">
          <b> Hỗ trợ kĩ thuật online 7/7</b>
        </p>
      </div>
    </div>
    <h3 style="width: 100%;background: #92999f;height: 10px;margin-top: 30px"><h3 class="text-center text"
                                                                                  style="margin: 30px 30px 30px 330px;padding-bottom: 10px;line-height: 8px;background: white;width: 380px">
      QUÀ TẶNG KHUYẾN MÃI</h3></h3>
    <div class="d-flex row" style="font-size: 20px;margin-top: 20px">
      <div class="col-lg-6">
        <h4 class="text"><b style="font-size: 30px">Ưu đãi khi mua sản phẩm</b></h4>
        <div style="width: 100%;border: 1px solid #005ec4;position: relative">
          <p class="text" style="padding: 20px;width: 350px">
            Gói quà tặng bao gồm:
            - Tặng Voucher 200.000đ khi khách hàng build PC ( Đã trừ thẳng vào giá)
            - Tặng PMH 200k áp dụng cho mua gear
            - Giảm trực tiếp 3% khi khách hàng mua thêm tản khí hoặc pack fan
            - Hỗ trợ trả góp với lãi suất 0%
          </p>
          <p class="text " style="position: absolute;top: 120px;right: 20px">
            <b style="color: #32be8f;font-size: 30px"> Đang chọn</b>
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="https://www.tncstore.vn/image/catalog/Qua%20Tang/BG%20qua%20tang.jpg"
             style="width: 500px;height: 300px;margin-left: 10px;object-fit: cover;border-radius: 0;border: 1px solid #005ec4;margin-top:40px">
      </div>
    </div>

    <div>

    </div>
  </div>

</div>
<div class="side-banner banner-right row "
     style="width: 94.5px;float:left;position: sticky;right: 10px;top:5px;margin-bottom: 285px"><a
  href="https://www.tncstore.vn/gaming-laptop.html" alt="Helios 16 - 2023"><img
  src="https://i.imgur.com/qAXtaSp.png" alt="Helios 16 - 2023"></a></div>
