<div class="row" style="width: 100%;">
  <div class="col-lg-1" style="margin-bottom: 0">
    <div class="side-banner banner-left"
         style="width: 94.5px;left: 0;position: sticky;top:10%;;float: left;display: inline-block"><a
    ><img
      src="https://i.imgur.com/uSTAVih.png" alt="Laptop Gaming 2023"></a></div>
  </div>
  <div class="col-lg-10">
    <div style="text-align: center;margin: 0 auto">

      <div class="container2 row " style="margin: 10px auto;display: inline-block;text-align: left">
        <div class="container" style="margin-left: -30px">
          <div class="profile-header">
            <div class="profile-img" style="position: relative">
              <img src="{{user.avatar}}" style="object-fit: cover" width="200" alt="Profile Image">
              <div class="button" >
                <button data-bs-toggle="modal" data-bs-target="#avatarModal" class="buttonAvatar">Ảnh đại điện</button>
              </div>
            </div>
            <div class="profile-nav-info" style="margin-bottom: -10px">
              <h3 class="text2">{{user.name}}</h3>
              <div class="address" style="color: #dddddd">
                <p *ngIf="user.address" id="state" class="state">{{user.address}},</p>
                <span id="country" class="country">Việt Nam.</span>
              </div>

            </div>
            <div class="profile-option">
              <div class="notification" data-bs-toggle="modal" data-bs-target="#editModal">
                <i class="fa-solid fa-user-gear"></i>
                <span class="alert-message">3</span>
              </div>
            </div>
          </div>

          <div class="main-bd">
            <div class="left-side">
              <div class="profile-side">

              </div>
            </div>
            <div class="right-side">

              <div class="nav">
                <ul>
                  <li style="width: 100px" (click)="show(0)" [class.active]="type == 0" class="user-post text">Giới Thiệu</li>
                  <li style="width: 100px" (click)="show(1)" [class.active]="type == 1" class="user-review text">Lịch Sử</li>
                </ul>
              </div>
              <div class="text">
                <div *ngIf="type == 0" style="padding: 10px 15px">
                  <h1 style="font-family: 'Chakra Petch2'">THÔNG TIN CÁ NHÂN</h1>

                  <div class="text d-flex row" style="margin-top: 10px;font-size: 20px;border-bottom: 2px solid #005ec4">
                    <div class="check col-lg-6">
                      <p *ngIf="user.name"><i style="margin-right: 20px;color: #005ec4" class="fa-solid fa-user"></i>Họ và tên</p>
                      <p *ngIf="age != 0"><i style="margin-right: 20px;color: #005ec4" class="fa-solid fa-face-smile"></i>Tuổi</p>
                      <p *ngIf="user.phoneNumber"><i style="margin-right: 20px;color: #005ec4" class="fa-solid fa-phone"></i>Số điện thoại</p>
                      <p *ngIf="user.email"><i style="margin-right: 20px;color: #005ec4" class="fa-sharp fa-solid fa-envelope"></i>Email</p>
                      <p *ngIf="user.gender"><i style="margin-right: 20px;color: #005ec4" class="fa-solid fa-venus-mars"></i>Giới
                        tính</p>
                      <p *ngIf="user.dateOfBirth"><i style="margin-right: 20px;color: #005ec4" class="fa-solid fa-cake-candles"></i>Ngày
                        sinh</p>
                      <p *ngIf="user.address"><i style="margin-right: 20px;color: #005ec4" class="fa-solid fa-address-book"></i>Địa
                        chỉ</p>
                    </div>
                    <div class="name  col-lg-6">
                      <p *ngIf="user.name"> {{user.name}}</p>
                      <p *ngIf="age != 0"> {{age}} Tuổi</p>
                      <p *ngIf="user.phoneNumber"> +{{user.phoneNumber}}</p>
                      <p *ngIf="user.email"> {{user.email}}</p>
                      <p *ngIf="user.gender"> {{user.gender ? 'Nam' : 'Nữ'}}</p>
                      <p *ngIf="user.dateOfBirth"> {{user.dateOfBirth | date: 'dd/MM/yyyy'}}</p>
                      <p *ngIf="user.address"> {{user.address}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="type == 1" style="padding: 10px 15px">
                  <h1 style="font-family: 'Chakra Petch2'">LỊCH SỬ MUA HÀNG</h1>
                  <div >
                    <table class="table-text table" >
                      <thead>
                      <tr style="background: #005ec4;color: white" class="text3">
                        <th>STT</th>
                        <th>Ngày mua</th>
                        <th>Số Lượng</th>
                        <th>Tổng tiền</th>
                        <th>Chi tiết</th>
                      </tr>
                      </thead>
                      <tbody class="tbody">
                      <tr *ngFor="let x of bills;index as i">
                        <th>{{i + 1}}</th>
                        <th>{{x.buyDate }}</th>
                        <th>{{x.quantity }}</th>
                        <th>{{x.totalPayment | number}}đ</th>
                        <th>
                          <button data-bs-toggle="modal" data-bs-target="#billDetail" (click)="check(x)" class="btn btn-primary"><i   class="fa-solid fa-circle-info"></i></button>
                        </th>
                      </tr>
                      </tbody>
                    </table>
                    <div style="margin: 10px 0 0 200px">
                      <button [disabled]="first==true" (click)="changPage(page -1)" class="btn btn-outline-light buttonPage">Trang trước</button>
                      <span style="width:50px;margin:0 10px" class="btn btn-outline-light buttonPage">{{page + 1}}</span>
                      <button [disabled]="last==true" (click)="changPage(page +1)" class="btn btn-outline-light buttonPage">Trang sau</button>
                    </div>

                  </div>
                </div>


                <!--          <div *ngIf="type == 2">-->
                <!--            <div class="account-setting">-->
                <!--              <h1 style="font-family: 'Chakra Petch2'">CHỈNH SỬA THÔNG TIN</h1>-->
                <!--              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit omnis eaque, expedita nostrum,-->
                <!--                facere libero provident laudantium. Quis, hic doloribus! Laboriosam nemo tempora praesentium. Culpa quo-->
                <!--                velit omnis, debitis maxime, sequi-->
                <!--                animi dolores commodi odio placeat, magnam, cupiditate facilis impedit veniam? Soluta aliquam excepturi-->
                <!--                illum natus adipisci ipsum quo, voluptatem, nemo, commodi, molestiae doloribus magni et. Cum, saepe enim-->
                <!--                quam voluptatum vel debitis-->
                <!--                nihil, recusandae, omnis officiis tenetur, ullam rerum.</p>-->
                <!--            </div>-->
                <!--          </div>-->
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="billDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" >
            <div class="modal-content" >
              <div class="modal-body">
                <div style="background: #f0f3fc;width: 100%">
                  <h5 class="text text-center" style="padding-top: 5px;color: #92999f;margin-bottom: 3px;">Đơn hàng</h5>
                  <h3 class="text text-center" style="margin-bottom: 0">Lúc {{bill.buyDate | slice:0:5 }} ngày {{bill.buyDate | slice:9 }}</h3>
                  <h5 class="text text-center" style="margin-bottom: 5px"><span style="color: #92999f">Đã được đặt hàng bởi</span> <b style="margin-left: 10px">{{bill.name}}</b></h5>
                  <h6 *ngIf="bill.note" class="text text-center" style="font-size: 17px;padding-bottom: 5px;color: #92999f;">Ghi chú <span  style="color: #3a5876">" {{bill.note}} "</span>.</h6>
                </div>
                <div style="margin: 10px;position: relative">
                  <h3 style="display: inline" class="text">Sản phẩm</h3> <h5 class="text" style="display: inline;position: absolute;right: 10px;top: 5px;color: #3a5876">+{{bill.phoneNumber}} <i style="margin-left: 5px" class="fa-solid fa-phone"></i></h5>
                </div>
                <div style="max-height: 200px;overflow-y: scroll" >
                  <div >
                    <div *ngFor="let x of buyHistorys" style="border: 1px solid #005ec4;position: relative;margin-bottom: 10px;border-radius: 5px" >
                      <img style=" cursor: pointer;height: 50px;width: 50px;object-fit: cover;margin-left: 5px" data-bs-dismiss="modal" aria-label="Close" [routerLink]="['/product/detail/'+x.product.id]" src="{{x.product.image}}">
                      <p class="text" data-bs-dismiss="modal" aria-label="Close" [routerLink]="['/product/detail/'+x.product.id]" style="cursor: pointer;position: absolute;top:0;left: 60px;display: inline;margin-left: 10px;color: #005ec4">{{x.product.name}}</p>
                      <p class="text" style="position: absolute;top:20px;left: 60px;margin-left: 10px ">Số lượng {{x.quantity}}</p>
                      <p class="text" style="position: absolute;top:20px;right: 10px;margin-left: 10px;color: #005ec4 ">{{x.product.price | number}}đ</p>
                    </div>
                  </div>
                </div>
                <hr>
                <div style="position: relative;margin-top: -10px" class="text">
                  <p style="display: inline;font-size: 16px;margin-bottom: -10px">Địa chỉ giao hàng</p> <p style="display: inline;position: absolute;right: 0;font-size: 16px;color: #005ec4;margin-bottom: -10px">{{bill.address}}</p> <br>
                  <p style="display: inline;font-size: 16px;margin-bottom: -10px">Thời gian đặt hàng</p> <p style="display: inline;position: absolute;right: 0;font-size: 16px;color: #005ec4;margin-bottom: -10px">{{bill.buyDate}}</p> <br>
                  <p style="display: inline;font-size: 16px;margin-bottom: -10px">Số lượng</p> <p style="display: inline;position: absolute;right: 0;font-size: 16px;color: #32be8f;margin-bottom: -10px">{{bill.quantity}}</p> <br>
                  <p style="display: inline;font-size: 16px"  >Tổng hóa đơn</p><p style="display: inline;position: absolute;right: 0;color: red;font-size: 18px">{{bill.totalPayment | number}}đ</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="modal fade" id="avatarModal" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content" >
            <div class="modal-header" style="height: 45px;border-bottom: 0 solid white">
              <h4 class="modal-title text text-center" id="exampleModalLabel2" style="padding: 10px">Cập nhật ảnh đại diện</h4>
              <button id="avatarDissmiss" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="border-bottom: 0 solid white">
              <label class="hoverable" for="fileInput">
                <img class="img" *ngIf="isLoading == false" [src]="src ? fb : 'https://i.pinimg.com/736x/c6/e5/65/c6e56503cfdd87da299f72dc416023d4.jpg'">
                <img class="img" *ngIf="isLoading == true" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921">
                <div class="background">
                  <i   class="fa-solid fa-image iconAvatar"></i>
                  <p class="textAvatar text-center">Chọn ảnh</p>
                </div>
              </label>
              <br/>
              <input id="fileInput" type='file' (change)="showPreview($event)">

              <i style="margin-right: 10px" class="fa-solid fa-earth-americas"></i> <span class="text">Ảnh đại diện của bạn hiển thị công khai.</span>
            </div>
            <div class="modal-footer" style="border-top: 0 solid white">
              <button style="border-radius: 0;;border: 2px solid #3a5876;margin-top: -20px" type="button" class="btn btn-primary text3" (click)="changeAvatar()">Xác nhận</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content" style="margin-top: 180px">
            <div class="modal-body">
              <div class="d-flex row">
                <div class="col-lg-4">
                  <img src="https://img.freepik.com/free-vector/blue-paint_95678-59.jpg" style="height: 100px;width: 100%" >
                  <img src="{{user.avatar}}" style="object-fit: cover;height: 90px;width: 90px;margin: -50px 0 0 75px;border: 2px solid white;border-radius: 50%;">
                  <h4 class="text3 text-center">{{user.name}}</h4>
                  <p class="text-center text3" style="margin-bottom: 0">{{user.email}}</p>
                  <p class="text-center text3">Việt Nam</p>
                </div>
                <div style="border-left: 1px solid #92999f;position: relative" class="col-lg-8 text3">

                  <h5 id="disMisedit" style="cursor: pointer" data-bs-dismiss="modal" aria-label="Close" class="text" ><i style="margin-right: 10px" class="fa-sharp fa-solid fa-delete-left"></i> Quay lại</h5>
                  <form [formGroup]="form" (ngSubmit)="update()" style="margin-bottom: 10px">
                    <div class="d-flex row">
                      <div class="col-lg-6">
                        <input placeholder="Họ và tên" formControlName="name" class="form-control">
                        <span class="text-danger text3"> {{errorForm.name}}</span>
                        <input placeholder="Số điện thoại" style="margin-top: 10px" formControlName="phoneNumber" class="form-control">
                        <span class="text-danger text3"> {{errorForm.phoneNumber}}</span>
                        <input  type="date" style="margin-top: 10px" formControlName="dateOfBirth" class="form-control">
                        <span class="text-danger text3"> {{errorForm.dateOfBirth}}</span>
                      </div>
                      <div class="col-lg-6">
                        <input  style="margin-top: 5px" class="form-check-input" type="radio" name="gender" formControlName="gender" [value]="true"> Nam
                        <input style="margin-left: 10px;margin-top: 5px" class="form-check-input" formControlName="gender" [value]="false" type="radio" name="gender" > Nữ
                        <span class="text-danger text3"> {{errorForm.gender}}</span>
                        <input placeholder="Email" type="Email" formControlName="email" style="margin-top: 10px" [value]="user.email" class="form-control">
                        <span class="text-danger text3"> {{errorForm.email}}</span>
                        <input type="text" placeholder="Địa chỉ" formControlName="address" style="margin-top: 10px" [value]="user.address" class="form-control">
                        <span class="text-danger text3"> {{errorForm.address}}</span>
                      </div>
                    </div>
                    <button class="btn btn-primary text3" type="submit" style="position: absolute;right: 10px;bottom:0;border: 1px solid #3a5876;border-radius: 0;">XÁC NHẬN</button>
                  </form>

                </div>



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-1" style=";margin-bottom: 0;margin-left: -15px">
    <div class="side-banner banner-right row "
         style="width: 93.5px;position: sticky;right: 0;top:10%;margin-right: 0;float: right"><a
      alt="Helios 16 - 2023"><img
      src="https://i.imgur.com/qAXtaSp.png" alt="Helios 16 - 2023"></a></div>
  </div>
</div>


