<div class="side-banner banner-left row d-flex"
     style="width: 94.5px;float: left;position: sticky;top:5px;margin-bottom: 285px"><a
><img
  src="https://i.imgur.com/uSTAVih.png" alt="Laptop Gaming 2023"></a></div>

<div class="container row " style="margin: 10px;display: inline-block;float: left">
  <div style="margin: 5px 10px 10px 25px">
    <div class="top-photo col-md-13 ">
      <img src="https://storage-asset.msi.com/global/picture/wallpaper/wallpaper_1677042878615be0858ba1bcc6654c8df2c0d869cf.jpeg" style="height: 400px;object-fit: cover">

    </div>
    <div class="user">
      <img src="{{user.avatar}}">
    </div>

    <div class="container">

      <div class="row">
        <div class="col-md-8">
          <div class="tab-content profile-tab" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="row">
                <div class="col-md-6">
                  <label>Họ tên</label>
                </div>
                <div class="col-md-6">
                  <p>{{user.name}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Email</label>
                </div>
                <div class="col-md-6">
                  <p>{{user.id}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Số điện thoại</label>
                </div>
                <div class="col-md-6">
                  <p>{{user.phoneNumber}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Giới tính</label>
                </div>
                <div class="col-md-6">
                  <p>{{user.gender}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Ngày sinh</label>
                </div>
                <div class="col-md-6">
                  <p>{{user.dateOfBirth}}</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="row">
                <div class="col-md-6">
                  <label>Experience</label>
                </div>
                <div class="col-md-6">
                  <p>Expert</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Hourly Rate</label>
                </div>
                <div class="col-md-6">
                  <p>10$/hr</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Total Projects</label>
                </div>
                <div class="col-md-6">
                  <p>230</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>English Level</label>
                </div>
                <div class="col-md-6">
                  <p>Expert</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Availability</label>
                </div>
                <div class="col-md-6">
                  <p>6 months</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label>Your Bio</label><br/>
                  <p>Your detail description</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


  </div>
</div>
<div class="side-banner banner-right row "
     style="width: 94.5px;float:left;position: sticky;right: 10px;top:5px;margin-bottom: 285px"><a
   alt="Helios 16 - 2023"><img
  src="https://i.imgur.com/qAXtaSp.png" alt="Helios 16 - 2023"></a></div>
