@font-face {
  font-family: 'Chakra Petch';
  src: url('./fonts/ChakraPetch-SemiBold.ttf') format('truetype');
}

* {


}

.inputCheckBox {
  width: 20px;
  height: 20px;
  border: 1px solid #92999f;
  margin-right: 10px;
}

.checkBoxItem {
  color: #29324e;

  font-family: Chakra Petch;
}

.colors {
  color: #29324e;
}
.text2 {


  font-family: Chakra Petch;
}
.text {
  color: #29324e;

  font-family: Chakra Petch;
}

.container {
  width: 1100px;
  margin: 10px;
}

.card:hover {
  cursor: pointer;
  border: 1px solid #005ec4;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 30;

}

.card {
  max-height: 350px;
  font-family: Chakra Petch;
  width: 13rem;
  display: inline-block;
  margin-left: 40px;
  margin-top: 20px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
