<div class="side-banner banner-left row d-flex"
     style="width: 94.5px;float: left;position: sticky;top:5px;margin-bottom: 285px"><a
  href="https://www.tncstore.vn/laptop-acer-predator-helios-16-ph16-71-94n1-nh-qjssv-002-i9-13900hx-32gb-2tb-rtx-4080-12gb-16-inch-wqxga-win-11"><img
  src="https://www.tncstore.vn/image/catalog/Banner MKT/120x600 (1).jpg" alt="Laptop Gaming 2023"></a></div>

<div class="container row " style="margin: 10px;display: inline-block;float: left">
  <div style="margin-left: 27px" id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="500">
        <img src="https://www.tncstore.vn/image/catalog/banner/2023/Slide/1640x660.png" class="d-block w-100" alt="...">
      </div>

      <div class="carousel-item" data-interval="500">
        <img src="https://www.tncstore.vn/image/catalog/banner/2022/Slide/laptop-1640-660-banner16052022.png"
             class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="500">
        <img src="https://www.tncstore.vn/image/catalog/banner/2023/Slide/PC%20Gaming_1640x660.png"
             class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <h3 class="text-center" style="margin: 30px">DANH MỤC SẢN PHẨM</h3>

  <div style="margin: 20px">
    <div class="card" style="width: 14rem;display: inline-block;margin-left: 20px">
      <img class="card-img-top" style="height: 222px;width: 222px"
           src="https://fptshop.com.vn/Uploads/Originals/2021/8/26/637655728046080925_asus-rog-gaming-g513-rgb4-xam-dd.jpg"
           alt="Card image cap">
      <div class="card-body">
        <span style="font-weight: bold;font-size: 30px">Laptop</span>
        <p class="card-text">đây là laptop</p>
      </div>
    </div>
    <div class="card" style="width: 14rem;display: inline-block;margin-left: 35px">
      <img class="card-img-top" style="height: 222px;width: 222px"
           src="https://cdn.shopify.com/s/files/1/0458/9223/9527/products/PPC1_6ac38084-ec26-49b9-8331-0064d2547a86_1000x.jpg?v=1652894404"
           alt="Card image cap">
      <div class="card-body">
        <span style="font-weight: bold;font-size: 30px">PC Gaming</span>
        <p class="card-text">đây là pc gaming</p>
      </div>
    </div>
    <div class="card" style="width: 14rem;display: inline-block;margin-left: 35px">
      <img class="card-img-top" style="height: 222px;width: 222px"
           src="https://bizweb.dktcdn.net/thumb/1024x1024/100/357/448/products/ba-n-phi-m-gia-co-co-led-gipco-k9800.jpg?v=1637568445363"
           alt="Card image cap">
      <div class="card-body">
        <span style="font-weight: bold;font-size: 30px">Bàn phím </span>
        <p class="card-text">đây là bàn phím gaming</p>
      </div>
    </div>
    <div class="card" style="width: 14rem;display: inline-block;margin-left: 35px">
      <img class="card-img-top" style="height: 222px;width: 222px"
           src="https://bizweb.dktcdn.net/100/357/448/products/logitech-g402.jpg?v=1651457503823"
           alt="Card image cap">
      <div class="card-body">
        <span style="font-weight: bold;font-size: 30px">Chuột </span>
        <p class="card-text">đây là bàn chuột gaming</p>
      </div>
    </div>
  </div>

  <div style="margin-left: 27px" id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="500">
        <img src="https://www.tncstore.vn/image/catalog/banner/2022/Thang5/laptop-gaming.png" style="width: 500px" class="d-inline-block " alt="...">
        <img src="https://www.tncstore.vn/image/catalog/banner/2022/Thang5/chuot-gaming.png" style="width: 500px;margin-left: 20px" class="d-inline-block " alt="...">
      </div>

      <div class="carousel-item " data-interval="500">
        <img src="https://www.tncstore.vn/image/catalog/banner/2022/Thang5/bpc.png" style="width: 500px" class="d-inline-block " alt="...">
        <img src="https://www.tncstore.vn/image/catalog/banner/2022/Thang5/manhinh-gaming.png" style="width: 500px;margin-left: 20px" class="d-inline-block " alt="...">
      </div>
      <div class="carousel-item " data-interval="500">
        <img src="https://www.tncstore.vn/image/catalog/banner/2022/Thang5/ban-ghe-gaming.png" style="width: 500px" class="d-inline-block " alt="...">
        <img src="https://www.tncstore.vn/image/catalog/banner/2023/Banner%20ph%E1%BB%A5%20trang%20ch%E1%BB%A7/Danh%20m%E1%BB%A5c%20SP%20-%2017%20(3).png" style="width: 500px;margin-left: 20px" class="d-inline-block " alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <h3 class="text-center" style="margin: 30px">SẢN PHẨM BÁN CHẠY</h3>

  <div style="margin: 20px">
    <div class="card" style="width: 14rem;display: inline-block;margin-left: 20px">
      <img class="card-img-top" style="height: 222px;width: 222px"
           src="https://laptopaz.vn/media/lib/2354_DSC08066.jpg"
           alt="Card image cap">
      <div class="card-body">
        <span style="font-weight: bold;font-size: 15px">Asus FX507ZC-HN124W</span>
        <button class="btn btn-primary" style="color: white">Thêm vào giỏ</button>
      </div>
    </div>
    <div class="card" style="width: 14rem;display: inline-block;margin-left: 35px">
      <img class="card-img-top" style="height: 222px;width: 222px"
           src="https://file.hstatic.net/1000233206/article/acer-nitro-5-2020-cho-tot_0969ce5a2527449db622006cf0ecf325.jpg"
           alt="Card image cap">
      <div class="card-body">
        <span style="font-weight: bold;font-size: 15px">Acer Gaming Nitro 5 </span>
        <button class="btn btn-primary" style="color: white">Thêm vào giỏ</button>
      </div>
    </div>
    <div class="card" style="width: 14rem;display: inline-block;margin-left: 35px">
      <img class="card-img-top" style="height: 222px;width: 222px"
           src="https://storage.googleapis.com/cdn.tanphatad.com/tanphatad/2020/12/bo-may-pc-gaming-khung-h410-i3-10100f-ram-16g-ssd-m2-128gb-vga-1070-8gg-case-zeus-5fe933e307bf2.jpg"
           alt="Card image cap">
      <div class="card-body">
        <span style="font-weight: bold;font-size: 15px">PC GAMING KHỦNG H410</span>
        <button class="btn btn-primary" style="color: white">Thêm vào giỏ</button>
      </div>
    </div>
    <div class="card" style="width: 14rem;display: inline-block;margin-left: 35px">
      <img class="card-img-top" style="height: 222px;width: 222px"
           src="https://cf.shopee.vn/file/2d7be0212d27e8ad73bcd2e6ef2ffbb9"
           alt="Card image cap">
      <div class="card-body">
        <span style="font-weight: bold;font-size: 15px">Logitech G502 HERO</span>
        <button class="btn btn-primary d-flex justify-content-center" style="color: white">Thêm vào giỏ</button>
      </div>
    </div>
  </div>

</div>

<div class="side-banner banner-right row "
     style="width: 94.5px;float:left;position: sticky;right: 10px;top:5px;margin-bottom: 285px"><a
  href="https://www.tncstore.vn/gaming-laptop.html" alt="Helios 16 - 2023"><img
  src="https://www.tncstore.vn/image/catalog/Banner MKT/Laptop Gaming 120X600.jpg" alt="Helios 16 - 2023"></a></div>
