<div class="side-banner banner-left row d-flex"
     style="width: 94.5px;float: left;position: sticky;top:5px;margin-bottom: 285px"><a
><img
  src="https://i.imgur.com/uSTAVih.png" alt="Laptop Gaming 2023"></a></div>
<div class="container row " style="margin: 10px;display: inline-block;float: left">
  <div style="margin: 10px 20px 10px 20px">
    <div class="d-flex row" style="font-size: 20px;margin-top: 20px">
      <div class="col-lg-8">
        <div style="width: 100%;position: relative;font-size: 18px">
          <div class="d-flex row">
            <p class="text item-cart text-center">1. Chọn sản phẩm</p>
            <p class="text item-cart text-center" style="width: 230px">2. Xác nhận đơn hàng</p>
            <p class="text item-cart text-center">3. Thanh toán</p>
          </div>
          <h4 class="text">THÔNG TIN KHÁCH HÀNG</h4>
         <p>Trường bắt buộc</p>
          <div class="d-flex row">
            <div class="col-4">
              <p> Họ tên quý khách *</p>
              <p> Địa chỉ email *</p>
              <p> Số điện thoại *</p>
              <p> Địa chỉ thường trú *</p>
            </div>
            <div class="col-4" style="">
              <input placeholder="Nhập tên khách hàng"  style="width: 445px">
              <input placeholder="Nhập email" style="width: 445px;margin-top: 10px">
              <input placeholder="Nhập số điện thoại" style="width: 445px;margin-top: 10px">
              <input placeholder="Nhập địa chỉ" style="width: 445px;margin-top: 10px">
            </div>
          </div>
      </div>
        <hr>
        <div style="width: 100%;position: relative;font-size: 18px">
          <h4 class="text">THÔNG TIN GIAO HÀNG</h4>
          <input type="checkbox"> <span>Sử dụng thông tin khách hàng để giao hàng</span>
          <p>Trường bắt buộc</p>
          <div class="d-flex row">
            <div class="col-4">
              <p> Họ tên quý khách *</p>
              <p> Địa chỉ email *</p>
              <p> Số điện thoại *</p>
              <p> Địa chỉ thường trú *</p>
            </div>
            <div class="col-4" style="">
              <input placeholder="Nhập tên khách hàng"  style="width: 445px">
              <input placeholder="Nhập email" style="width: 445px;margin-top: 10px">
              <input placeholder="Nhập số điện thoại" style="width: 445px;margin-top: 10px">
              <input placeholder="Nhập địa chỉ" style="width: 445px;margin-top: 10px">
            </div>
          </div>
        </div>
        <hr>
        <div style="width: 100%;position: relative;font-size: 18px">
          <h4 class="text">HÌNH THỨC THANH TOÁN</h4>
          <div>
            <input type="radio" checked name="totalPayment"> <span style="margin-left: 10px">Thanh toán tại nơi giao hàng</span>
          </div>
         <div>
           <input type="radio" name="totalPayment"> <span  style="margin-left: 10px">Thanh toán bằng chuyển khoản</span>
           <p style="margin-bottom: 0">Tại Ngân hàng TMCP Công Thương Việt Nam (Vietinbank) – CN Đống Đa (Hà Nội)</p>
           <p style="margin-bottom: 0">Số tài khoản : 113000009229</p>
           <p style="margin-bottom: 0">Tên TK: CT TNHH TM VA TIN HOC TU NGUYET.</p>
         </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div style="background: #f0f3fc;width: 100%;position: relative">
          <div style="padding: 20px" class="text">
            <h4>THÔNG TIN GIỎ HÀNG</h4>
            <p>Số lượng sản phẩm <span style="color: #005ec4;position: absolute;right: 20px">{{quantity}}</span></p>
            <p style="margin-top: -15px">Tổng chi phí <span style="color: red;position: absolute;right: 20px">{{total}} đ</span>
            </p>
            <p style="color: #92999f;position: absolute;right: 20px;margin-top: -13px;font-size: 13px">Đã bao gồm VAT
              (nếu có)</p>
            <div *ngFor="let x of cart" style="margin-top: 20px">
              <hr>
              <div >
                <span style="margin-top: -10px">{{x.product.category.name + ' ' + x.product.name}}</span>
              </div>
            </div>
          </div>
          <button class="btn btn-primary textButton" style="margin-left: 50px;border-radius: 0;padding: 10px 30px">XÁC NHẬN MUA HÀNG</button>

        </div>

      </div>


    </div>
  </div>
</div>


<div class="side-banner banner-right row "
     style="width: 94.5px;float:left;position: sticky;right: 10px;top:5px;margin-bottom: 285px"><a
  alt="Helios 16 - 2023"><img
  src="https://i.imgur.com/qAXtaSp.png" alt="Helios 16 - 2023"></a></div>
