@font-face {
  font-family: 'Chakra Petch';
  src: url('fonts/ChakraPetch-SemiBold.ttf') format('truetype');
}

.text {
  font-family: Chakra Petch;
  color: #3a5876;
}
.textButton {
  font-family: Chakra Petch;
}
.container {
  width: 1100px;
  margin: 10px;
}
.item-cart {
  background: #005ec4;
  color: white;
  width: 200px;
  padding: 7px 15px 7px 15px;
  margin-left: 20px;
  border-left: 1px solid transparent;
}
